/*
								"DHX SKYBLUE" DHTMLXMENU SKIN 2009
*/
/****************************************************************************************************************************************************/
/*									TOPLEVEL								    */
.dhtmlxMenu_dhx_1_Middle {
	position: relative;
	height: 24px;
	border: none;
	background-image: url("../imgs/dhxmenu_dhx_1/dhtmlxmenu_bg.gif");
	background-position: top;
	background-repeat: repeat-x;
	-moz-user-select: none;
}
.dhtmlxMenu_dhx_1_Middle.dir_left div.align_left {
	float: left;
}
.dhtmlxMenu_dhx_1_Middle.dir_left div.align_right {
	float: right;
}

/****************************************************************************************************************************************************/
/*									TOPLEVEL ITEMS								    */
/* toplevel item normal */
div.dhtmlxMenu_dhx_1_TopLevel_Item_Normal,
div.dhtmlxMenu_dhx_1_TopLevel_Item_Disabled,
div.dhtmlxMenu_dhx_1_TopLevel_Item_Selected {
	position: relative;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	margin-top: 1px;
	margin-left: 0px;
	margin-right: 2px;
	border: transparent 1px solid;
	padding-left: 4px;
	padding-right: 4px;
	background: none;
	color: #f0fff0;					/*PARAMETRIZAR: Color Texto Menu*/
	
}
div.dhtmlxMenu_dhx_1_TopLevel_Item_Normal,
div.dhtmlxMenu_dhx_1_TopLevel_Item_Disabled {
	#border-color: #000000;
	#filter:progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
/* toplevel item disabled */
div.dhtmlxMenu_dhx_1_TopLevel_Item_Disabled {
	color: #999999 !important;
}
/* toplevel item selected (over) */
div.dhtmlxMenu_dhx_1_TopLevel_Item_Selected {
	margin-top: 1px;
	margin-left: 0px;
	margin-right: 2px;
	background-image: url("../imgs/dhxmenu_dhx_1/dhtmlxmenu_bg.gif");
	background-repeat: repeat-x;
	background-position: top;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #909090 1px solid;
	border-bottom: #909090 1px solid;
}
/* toplevel separator */
.dhtmlxMenu_dhx_1_Middle div.top_sep {
	font-size: 1px;
	cursor: default;
	-moz-user-select: none;
	background-color: #959595;
	height: 22px;
	position: relative;
	float: left;
	width: 1px;
	margin-top: 1px;
	margin-left: 0px;
	margin-right: 2px;
}

/* top level image */
.dhtmlxMenu_dhx_1_Middle img.dhtmlxMenu_TopLevel_Item_Icon {
	float: left;
	margin: 2px 2px 0px 2px;
	width: 18px;
	height: 18px;
}


/* top level text*/
div.dhtmlxMenu_dhx_1_TopLevel_Item_Normal div.top_level_text,
div.dhtmlxMenu_dhx_1_TopLevel_Item_Disabled div.top_level_text,
div.dhtmlxMenu_dhx_1_TopLevel_Item_Selected div.top_level_text {
	float: left;
	margin-left: 2px;
	margin-right: 2px;
}

/****************************************************************************************************************************************************/
/*									SUBLEVEL POLYGON							    */
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon {
	position: absolute;
	background-color: #13B003;			/*PARAMETRIZAR: Color Fondo SubMenu*/
	border: #8C8B8B 1px solid;
	overflow: hidden;
}
/* IE6 sublevel undercover fix */
iframe.dhtmlxMenu_IE6CoverFix_dhx_1 {
	position: absolute;
	border: none;
	background: #000000;
	filter: alpha(opacity=100);
}
/****************************************************************************************************************************************************/
/*									SUBLEVEL ITEMS								    */

div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl {
	
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item {
	height: 24px;
	cursor: default;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis {
	height: 24px;
	cursor: default;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected {
	height: 24px;
	cursor: default;
	background-color: #039403;			/*PARAMETRIZAR: Color Fondo SubMenu*/
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_icon {
	width: 24px;
	text-align: left;
	-moz-user-select: none;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_icon img.sub_icon {
	width: 18px;
	height: 18px;
	margin-top: 2px;
	margin-right: 0px;
	margin-left: 6px;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_text {
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_item_text {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	white-space: nowrap;
	text-align: left;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_item_text {
	color: #888787 !important;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_hk {
	padding-left: 8px;
	padding-right: 8px;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_hk div.sub_item_hk {
	font-family: Tahoma;
	font-size: 11px;
	color: #cecece;
	text-align: right;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis td.sub_item_hk div.sub_item_hk {
	color: #888787 !important;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon tr.sub_sep {
	height: 3px;
	font-size: 1px;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon div.sub_sep {
	font-size: 1px;
	background-image: url("../imgs/dhxmenu_dhx_1/dhtmlxmenu_subsepbg.gif");
	background-repeat: repeat-x;
	background-position: center center;
	cursor: default;
	height: 3px;
}
/****************************************************************************************************************************************************/
/*									SUBLEVEL ARROWS								    */

div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.complex_arrow {
	width: 4px;
	height: 24px;
	background-image: url("../imgs/dhxmenu_dhx_1/dhtmlxmenu_subar.gif");
	background-repeat: no-repeat;
	background-position:  0px 0px;
	float: right;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected div.complex_arrow {
	background-position: -4px 0px !important;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.complex_arrow {
	background-position: -8px 0px !important;
}

/****************************************************************************************************************************************************/
/*									LOADING ICON								    */
div.dhtmlxMenu_SubLevelArea_Item_Arrow_Loading {
	position: absolute;
	width: 11px;
	height: 11px;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url("../imgs/dhxmenu_dhx_1/dhtmlxmenu_loader.gif");
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon_left div.dhtmlxMenu_SubLevelArea_Item_Arrow_Loading {
	top: 6px;
	left: none;
	right: 6px;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon_right div.dhtmlxMenu_SubLevelArea_Item_Arrow_Loading {
	top: 6px;
	right: none;
	left: 6px;
	_right: -38px;
}
/****************************************************************************************************************************************************/
/*									UP/DOWN OVERFLOW ARROWS							    */
div.dhtmlxMenu_dhx_1_SubLevelArea_Arrow {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #eaf2fb;
	text-align: center;
	overflow: hidden;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Arrow div.dhtmlxMenu_SubLevelArea_Arrow_Icon {
	position: relative;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 9px;
	height: 5px;
	background-repeat: no-repeat;
	background-image: url("../imgs/dhxmenu_dhx_1/dhtmlxmenu_upar.gif");
}
/* up arrows */
div.dhtmlxMenu_dhx_1_SubLevelArea_ArrowUp,
div.dhtmlxMenu_dhx_1_SubLevelArea_ArrowUp_Over,
div.dhtmlxMenu_dhx_1_SubLevelArea_ArrowUp_Disabled {
	position: absolute;
	height: 16px;
	height= 18px;
	padding: 1px 1px 0px 1px;
	font-size: 1px;
	background-color: #eaf2fb;
	border: #a4bed4 1px solid;
	border-bottom: none;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_ArrowUp div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: -27px 0px; }
div.dhtmlxMenu_dhx_1_SubLevelArea_ArrowUp_Over div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: -36px 0px; }
div.dhtmlxMenu_dhx_1_SubLevelArea_ArrowUp_Disabled div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: -45px 0px; }
/* down arrows */
div.dhtmlxMenu_dhx_1_SubLevelArea_ArrowDown,
div.dhtmlxMenu_dhx_1_SubLevelArea_ArrowDown_Over,
div.dhtmlxMenu_dhx_1_SubLevelArea_ArrowDown_Disabled {
	position: absolute;
	height: 16px;
	height= 18px;
	font-size: 1px;
	padding: 1px 1px 0px 1px;
	background-color: #eaf2fb;
	border: #a4bed4 1px solid;
	border-top: none;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_ArrowDown div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: 0px 0px; }
div.dhtmlxMenu_dhx_1_SubLevelArea_ArrowDown_Over div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: -9px 0px; }
div.dhtmlxMenu_dhx_1_SubLevelArea_ArrowDown_Disabled div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: -18px 0px; }
/****************************************************************************************************************************************************/
/*									TOPLEVEL TEXT								    */
.dhtmlxMenu_dhx_1_Middle div.dhtmlxMenu_TopLevel_Text_right {
	position: absolute;
	top: 5px;
	left: none;
	right: 8px;
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	cursor: default;
}
.dhtmlxMenu_dhx_1_Middle div.dhtmlxMenu_TopLevel_Text_left {
	position: absolute;
	top: 5px;
	right: none;
	left: 8px;
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	cursor: default;
}
/****************************************************************************************************************************************************/
/*									ITEM'S CHECKS, RADIOS							    */
/* sublevel */
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon {
	float: left;
	margin: 0px 2px 0px 2px;
	width: 18px;
	height: 18px;
	background-position: top right;
	background-repeat: no-repeat;
	background-image: url("../imgs/dhxmenu_dhx_1/dhtmlxmenu_chrd.gif");
}
/* checkboxes */
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.chbx_0 {
	background-position: 0px 0px !important;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.chbx_1 {
	background-position: -18px 0px !important;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.chbx_0 {
	background-position: -36px 0px !important;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.chbx_1 {
	background-position: -54px 0px !important;
}
/* radios */
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.rdbt_0 {
	background-position: -72px 0px !important;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.rdbt_1 {
	background-position: -90px 0px !important;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.rdbt_0 {
	background-position: -108px 0px !important;
}
div.dhtmlxMenu_dhx_1_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.rdbt_1 {
	background-position: -126px 0px !important;
}
