<%
String _serial= (String)  session.getAttribute("strSerial");
String _rCharCert="";
if(_serial.length()>20){
	boolean _parCert=false;
	for (int i = 0; i < _serial.length(); i ++) {
		if (_parCert==true){
			_rCharCert += _serial.charAt(i);
			_parCert=false;
		}else{
			_parCert=true;
		}
	}

	System.out.println("SHA2---------------------------"+ _rCharCert);
	_serial = _rCharCert;
}

%>