					<table width="220" border="0" cellpadding="0" cellspacing="0" class="colorTablaBaseMenu">
					<tr>
						<td width="52"></td>
					</tr>
					<tr>
						<td align="center">
							<div id="basic-accordian" >
<%--
java.util.Map _mMensajesIniciales = (java.util.Map)session.getAttribute("sesMensajesIniciales");
if (_mMensajesIniciales != null && _mMensajesIniciales.size() > 0 ) {
%>

							<div id="test-header" class="accordion_headings" ><div id="avisos"><a href="#">Avisos</a></div></div>  
							<div id="test-content">
							<div class="accordion_child">
							<ul class="acitem">
<%
	java.util.Iterator it = _mMensajesIniciales.keySet().iterator();
	while (it.hasNext()) {
		String msgIni = (String)it.next();
		String titulo = (String)_mMensajesIniciales.get(msgIni);
		if(netropology.utilerias.Comunes.esNumero(msgIni)){
%>
							<li><a href="<%=appWebContextRoot%>/20secure/20mensajeExtVer.jsp?msgini=<%=msgIni%>&msgtitulo=<%=titulo%>&csAdicional=N"><%=titulo%></a></li><hr>
<%
		}else{
%>
							<li><a href="<%=appWebContextRoot%>/20secure/20mensajeExtVer.jsp?msgini=<%=msgIni%>&msgtitulo=<%=titulo%>&csAdicional=S"><%=titulo%></a></li><hr>
<%
		}
	}
%>

							</ul>
							</div>
							</div>
<%
}
%>
<script language="JavaScript">
function VerDocumento(ruta){
  var f = document.forms[0];	   
   var strURL=ruta;
  var strWinName="wndCDoctos1";
  var strFeatures="toolbar=no,status=no,location=no,menubar=no,scrollbars=no,resizable=yes,directories=no,fullscreen=no,channelmode=no,top=200,left=300,width=310,height=100";
  MM_openBrWindow(strURL,strWinName,strFeatures);
}
</script>
<% 		

	netropology.utilerias.ManualesPerfilEpo manuales = new netropology.utilerias.ManualesPerfilEpo();
	manuales.setPerfil(strPerfil);
	manuales.setNoEpo("");
	String rutaDestino = (String)application.getAttribute("strDirectorioPublicacion") + "00tmp/15cadenas/";								
	List datos  = manuales.consultarImagen(rutaDestino);			
	if(datos.size()>0){	%>
		<div id="test1-header" class="accordion_headings" ><div id="manuales"><a href="#">Manuales</a></div></div>
		<div id="test1-content">
		<div class="accordion_child">
		<ul class="acitem">
		<% 
			for (int i = 0; i <datos.size(); i++) {
				List manual =(List)datos.get(i);
				String ic_manual=  manual.get(0).toString();
				String nombre=  manual.get(1).toString();
				String ruta=  strDirecVirtualTemp+manual.get(2).toString();								
		%>							
		<li><a href="javascript:VerDocumento('<%=ruta%>')">	<%=nombre%></a></li><hr>
		<%} //for%>
		</ul>
		</div>
		</div>
	<%	} --%>
	

	
<script language="JavaScript">
function MM_openBrWindow(theURL,winName,features)
{ //v2.0
  window.open(theURL,winName,features);
}

</script>
							<div id="test2-header" class="accordion_headings header_highlight selected" ><div id="herramientas"><a href="#">Herramientas</a></div></div> 
							<div id="test2-content">
							<div class="accordion_child">
							<ul class="acitem">
							<li><a href="<%=appWebContextRoot%>/15cadenas/15forma02ext.jsp">Cambiar Contraseņa</a></li><hr>
							<li><a href="<%=appWebContextRoot%>/15cadenas/15certificadodigital_ext.jsp">Certificado Digital</a></li><hr>
							</ul>
							</div>
							
							</div>
							
							<div id="test3-header" class="accordion_headings" ><div id="indicadoresF"><a href="#">Indicadores Financieros</a></div></div> 
							<div id="test3-content">
							<div class="accordion_child">
							<ul class="acitem">
							<li><a target="_blank" href="http://www.banxico.org.mx/">Banco de M&eacute;xico</a></li><hr>
							</ul>
							</div>  
							</div>
<%--
java.util.Map _mEncuestas = (java.util.Map)session.getAttribute("sesEncuestas");
if (_mEncuestas != null) {
%>
							<div id="test5-header" class="accordion_headings" ><div id="encuestas"><a href="#">Encuestas</a></div></div> 
							<div id="test5-content">
							<div class="accordion_child">
							<ul class="acitem">
<%
	java.util.Iterator it = _mEncuestas.keySet().iterator();
	while (it.hasNext()) {
		String claveEncuestaAfil = (String)it.next();
		String titulo = (String)_mEncuestas.get(claveEncuestaAfil);
%>
							<li><a href="<%=appWebContextRoot%>/20secure/contesta_encuestaExt.jsp?ic_encuesta_afil=<%=claveEncuestaAfil%>"><%=titulo%></a></li><hr>
<%
	}
%>
							</ul>
							</div>  
							</div>








<%
} --%>

<%
netropology.utilerias.Registros _regMenuDirecto = (netropology.utilerias.Registros)session.getAttribute("sesMenuDirecto");
if (_regMenuDirecto != null && "S".equals(session.getAttribute("inicializar.FINALIZADO")) ) {
%>
							<div id="test6-header" class="accordion_headings" ><div id="mis_servicios"><a href="#">Mis Servicios</a></div></div> 
							<div id="test6-content">
							<div class="accordion_child">
							<ul class="acitem">
<%
	if (session.getAttribute("sesMenuDirecto") != null) {
		netropology.utilerias.Registros reg = (netropology.utilerias.Registros)session.getAttribute("sesMenuDirecto");
		while (reg.next()) {
%>
							<li><a href="<%=reg.getString("URL")%>"><%=reg.getString("TEXT")%></a></li><hr>
<%
		}
	}
%>
							</ul>
							</div>  
							</div>
<%
}%>
							</div>

						</td>
					</tr>
					<tr>
						<td height="10" align="center"><img src="<%=appWebContextRoot%>/01principal/imagenes/puntosSeparaMenu.png" width="205" height="1" /></td>
					</tr>
					<tr>
						<td align="center">
							<%@include file="/01principal/01nafin/banners.jspf"%>
						</td>
					</tr>
					</table>
