<script type="text/javascript">
Ext.onReady(function() {
	new Accordian('basic-accordian',5,'header_highlight');
});
</script>
			<div id="menuLateral" style="float: left">
				<div id="test2">
					<%@ include file="/01principal/01nafin/menuLateralComun.jspf" %>
				</div>
			</div>
