/*
 * Selectable Grouping View component styles
 */
.x-grid-group-hd td.x-grid-checkboxhd {
    background:transparent no-repeat 3px 3px;
    background-position:right top;
    padding:0px 17px 4px 4px;
}

.x-grid-group-hd td.x-grid-checkboxhd {
    background-image:url(../resources/images/default/menu/unchecked.gif);
    color: black;
    font:bold 11px tahoma, arial, helvetica, sans-serif;
    vertical-align:top;
}

.x-grid-group-selected .x-grid-group-hd td.x-grid-checkboxhd {
    background-image:url(../resources/images/default/menu/checked.gif);
}

.x-grid-checkboxhd-hidden .x-grid-group-hd td.x-grid-checkboxhd {
    display:none;
}