/*
 * Selectable Grouping View component styles
 */
.x-grid-group-server-summary {
    zoom:1;
}
.x-grid3-summary-row td{
	border-top: 1px solid;
	border-top-color:#fff;
	border-bottom: 1px solid;
	border-bottom-color:#ededed;
}
.x-grid3-summary-row table{
   border-right: 1px solid;
	border-right-color:#ededed;
}

.x-grid3-summary-row table.x-grid3-summary-table-msg{
   border-right: 1px;
}

.x-grid3-summary-row {
    color:#333;
    background: #f1f2f4; 
}
.x-grid3-summary-row .x-grid3-cell-inner {
    font-weight:bold;
}
.x-grid3-summary-msg {
    padding:4px 16px;
    font-weight:bold;
}