@charset "utf-8";
/* CSS Document */

* { margin: 0; padding: 0; }
body{
	background-color:#FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	background-position: 0px 0px;
	height:100%;
	background-image: url(../imagenes/fondo_gral.png);
	background-repeat: repeat-x;
}

/*----MAIN PANEL----*/
#mainM{
	width:100%;
	height:auto;
	position:relative;
	padding:0px;
	margin:0 auto 0 auto;
	overflow: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#SeparadorCentral{
	width:990px;
	height:auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#headerM{
	width:990px;
	height:auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

/*--------cuadro redondeado-----*/
#sombraIzq {
	width:13px;
	height:402px;
	position: relative;
	top:0px;
	float:left;
}
#sombraDer {
	width:12px;
	height:402px;
	position: relative;
	top:0px;
	float:left;
}

#central {
	width:987px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top:0px;
	left:0px;
	background-image: url(../imagenes/fondo_base.png);
	background-repeat: repeat-y;
	background-position: 0px 0px;
	padding-left: 6px;
}

#content{
	height:auto;
	min-height: 768px;
	width:947px;
	top:0px;
	left:0px;
	float:left;
}
#header{
	height:134px;
	width:949px;
	top:0px;
	left:0px;
	float:left;
	position: relative;
}
#logoNafinet{
	float:left;
	height:119px;
	width:193px;
	top:10px;
	left:17px;
	position: relative;
}
#pinImg{
	float:left;
	height:128px;
	width:80px;
	top:5px;
	left:22px;
	position: relative;
}
#datosUsuario{
	float:left;
	height:60px;
	width:310px;
	top:6px;
	left:30px;
	position: relative;
	float: left;
	padding-top: 4px;
	padding-left: 6px;
	border-bottom-left-radius: 7px;
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
	behavior: url(ie-css3.htc);
	background-color: #dee3e3;
}
#datosUsuarioV{
	float:left;
	height:60px;
	width:325px;
	top:6px;
	left:30px;
	position: relative;
	padding-top: 8px;
	padding-left: 10px;
}
.DUnumero{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	color: #636363;
	text-decoration: none;
	text-align: left;
}
.DUrazon{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #636363;
	text-decoration: none;
	text-align: left;
}
.DUnombre{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	color: #11738b;
	text-decoration: none;
	text-align: left;
	line-height: 15px;
}
.DUnombre a{
	color: #11738b;
	text-decoration: underline;
}
.DUnombre a:hover{
	color: #38b3c1;
	text-decoration: none;
}
.DUnombreBullet{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15pt;
	font-style: normal;
	font-weight: bold;
	color: #38b3c1;
	text-decoration: none;
	text-align: left;
	vertical-align: top;
}
#asistenciaRedes{
	float:left;
	height:55px;
	width:320px;
	top:0px;
	left:45px;
	top:7px;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #585858;
	text-decoration: none;
}
#asistencia{
	float:left;
	height:17px;
	width:155px;
	top:0px;
	left:0px;
	top:0px;
	position: relative;
	border-bottom-left-radius: 7px;
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
	behavior: url(ie-css3.htc);
	background-color: #11738b;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	padding-top: 2px;
}
#Fecha{
	height:25px;
	width:400px;
	top:50px;
	left:290px;
	padding-top: 4px;
	padding-left: 4px;
	position: relative;
	float:left;
}
.Fdatos{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	color: #10697f;
	text-decoration: none;
	text-align: left;
}
#pyme{
	float:left;
	width:175px;
	height:65px;
	top:-13px;
	left:65px;
	position: relative;
}
/*termina header*/
#_menuApp{
	height:25px;
	width:949px;
	top:0px;
	left:0px;
	float:left;
}

/*inicia Contenido Central*/
#Contcentral{
	width:949;
	height:auto;
	top:0px;
	left:0px;
	float:left;
	position: relative;
}
#menuLateral{
	width:225px;
	height:auto;
	top:0px;
	left:0px;
	display: inline-block;
	vertical-align: top;
	padding-top: 6px;
	padding-left: 4px;
}
#menuLateral2{
	width:auto;
	height:auto;
	top:0px;
	left:0px;
	float:left;
	position:absolute;
	z-index:10;
	padding-top: 0px;
	padding-left: 0px;
	overflow: hidden;
}

#cierraMenu{
	width:225px;
	height: auto;
	overflow: hidden;
	background-color: #ffffff;
}

#test2{
	width:225px;
	overflow: hidden;
	background-color: #ffffff;
}

.colorTablaBaseMenu{
	background-color: #ffffff;
}


/*Empieza lista menu lateral*/
.arrowlistmenu{
width: 212px; /*width of menu*/
}

.arrowlistmenu ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li{
	height:33px;
	padding-bottom: 2px; /*bottom spacing between menu items*/
	padding-top: 2px;
	background-image: url(../imagenes/bot_genNaf_lat1.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
}

.arrowlistmenu ul li a{
	color: #868787; /*custom bullet list image*/
	display: block;
	height:33px;
	padding-left: 19px; /*link text is indented 19px*/
	text-decoration: none;
	font-weight: bold;
	font-size: 90%;
	
	padding-left: 38px;
	padding-top: 6px;
	padding-right: 0;
	padding-bottom: 2px;
}
.arrowlistmenu ul li.avisos a{
	background-image: url(../imagenes/ico_lat_avisos.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.arrowlistmenu ul li.manuales a{
	background-image: url(../imagenes/ico_lat_manuales.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.arrowlistmenu ul li.herramientas a{
	background-image: url(../imagenes/ico_lat_herramientas.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.arrowlistmenu ul li.indicadoresF a{
	background-image: url(../imagenes/ico_lat_indic_financieros.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
color: #027ca3;
}
/*termina lista menu lateral*/

#areaContenido{
	width:949px;
	height:auto;
	display: inline-block;
	vertical-align: top;
	top:0px;
	left:0px;
	padding-top: 6px;
	padding-bottom: 10px;
	padding-right: 3px;
	padding-left: 3px;
}
#areaLeyenda{
	width:949px;
	height:auto;
	display: inline-block;
	vertical-align: top;
	top:0px;
	left:0px;
	padding-top: 6px;
	padding-bottom: 10px;
	padding-right: 3px;
	padding-left: 3px;
}
#abreMenu {
	width:auto;
	height:30px;
	top:0px;
	left:30px;
	float:left;
}
/*tipos de encabezados*/
#encabezado1 {
	width:100%;
	height:25px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	behavior: url(ie-css3.htc);
	background-color: #023b56;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 10px;
	padding-top: 5px;
	text-align: left;
	float:left;
	margin-top: 10px;
}
.box1 {

			background-color: #f0f0f0;

			width: 740px;

			margin: 0 auto 15px auto;

			padding: 20px 35px;

			border: 1px solid #d7d7d7;



			-moz-border-radius: 11px;

			-webkit-border-radius: 11px;

			border-radius: 11px;

			behavior: url(ie-css3.htc);

		}
#encabezado2 {
	width:100%;
	height:25px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding-left: 10px;
	padding-top: 5px;
	text-align: left;
	background-image: url(../imagenes/fondo_tit_cont.gif);
	background-repeat: repeat-x;
	border: 1px solid #98bde7;
	float:left;
	margin-top: 10px;
}
.sample1 span {
	width: auto;
	height: 37px;
	display: block;
	position: relative;
	top: -10px;
	left: 0px;
	background-image: url(../imagenes/ico_folder.png);
	background-repeat: no-repeat;
	padding-left: 40px;
	padding-top: 10px;
}

/*terminan tipos de encabezados*/
/*termina Contenido Central*/

#footer {
	width:100%;
	height:auto;
	float:left;
}
#footer1 {
	width:950px;
	height:auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left:0px;
}

.footerDerechos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #b2abad;
	text-decoration: none;
	text-align: center;
	padding-left: 0px;
	padding-top: 8px;
	background-color: #525250;
}
.footerEnlace {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #525250;
	text-decoration: none;
	text-align: right;
	padding-bottom: 6px;
	padding-right: 5px;
	padding-top: 6px;
	background-color: #b2abad;
}
.footerRegCedi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #b2abad;
	text-decoration: none;
	text-align: center;
	padding-left: 0px;
	padding-top: 8px;
	background-color: transparent;
}
.footermenuInf {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #b2abad;
	text-decoration: none;
	text-align: right;
	padding-left: 0px;
	padding-top: 8px;
	background-color: transparent;
}
.text {
	background-color: white;
	border: none;
	border-color:blue;
	padding-left: 50px;
	text-align: center;
}
.button{
  margin      : 0;
  padding     : 0;
  border      : 0;
  background  : transparent;
  font-family : inherit;
  font-size   : 1em;
  cursor      : pointer;
}
.button::-moz-focus-inner{
  padding : 0;
  border  : 0;
}


/*----/Left Menu footer----*/
.bannerItem {
	padding-top: 29px;
}

/*estilos home*/
