#basic-accordian{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	width:212px;
	text-align: left;
}

#avisos {
	height:28px;
	background-image: url(../imagenes/ico_lat_avisos.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 38px;
	padding-top: 7px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#avisos a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
	width:212px;
	text-decoration: none;
	color: #FFFFFF;
}
#avisos a:hover{
	text-decoration: underline;
}
#avisos {
	height:28px;
	background-image: url(../imagenes/ico_lat_avisos.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 38px;
	padding-top: 7px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#manuales {
	height:28px;
	background-image: url(../imagenes/ico_lat_manuales.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 38px;
	padding-top: 7px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#manuales a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
	width:212px;
	text-decoration: none;
	color: #FFFFFF;
}
#manuales a:hover{
	text-decoration: underline;
}


#herramientas {
	height:28px;
	background-image: url(../imagenes/ico_lat_herramientas.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 38px;
	padding-top: 7px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#herramientas a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
	width:212px;
	text-decoration: none;
	color: #FFFFFF;
}
#herramientas a:hover{
	text-decoration: underline;
}

#indicadoresF {
	height:28px;
	background-image: url(../imagenes/ico_lat_indic_financieros.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 38px;
	padding-top: 7px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#indicadoresF a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
	width:212px;
	text-decoration: none;
	color: #FFFFFF;
}
#indicadoresF a:hover{
	text-decoration: underline;
}

#mis_servicios {
	height:28px;
	background-image: url(../imagenes/ico_lat_MisServicios.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 38px;
	padding-top: 7px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#mis_servicios a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
	width:212px;
	text-decoration: none;
	color: #FFFFFF;
}
#mis_servicios a:hover{
	text-decoration: underline;
}

#encuestas {
	height:28px;
	background-image: url(../imagenes/ico_lat_encuestas.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 38px;
	padding-top: 7px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#encuestas a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
	width:212px;
	text-decoration: none;
	color: #FFFFFF;
}
#encuestas a:hover{
	text-decoration: underline;
}

#estadisticas {
	height:28px;
	background-image: url(../imagenes/ico_lat_estadisticas.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 38px;
	padding-top: 7px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#estadisticas a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
	width:212px;
	text-decoration: none;
	color: #FFFFFF;
}
#estadisticas a:hover{
	text-decoration: underline;
}

.accordion_headings:hover{
	cursor: hand;
	color: #000000;
}

.header_highlight{
	cursor: hand;
	height:30px;
	padding-bottom: 0px; /*bottom spacing between menu items*/
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
}

#basic-accordian ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
#basic-accordian ul li{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-image: url(../imagenes/bullet1.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	/*list-style-image: url(../imagenes/bullet1.png);
	list-style-position: inside;*/
	padding-left: 15px;
	line-height: 20px;
}

#basic-accordian ul li a:hover{
	text-decoration: underline;
}
#contacto {
	height:28px;
	background-image: url(../imagenes/ihelp.gif);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 28px;
	padding-top: 2px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#contacto a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
	width:212px;
	text-decoration: none;
	color: #FFFFFF;
}
#contacto a:hover{
	text-decoration: underline;
}

#contactoCEDI {
	height:28px;
	background-image: url(../imagenes/Symbol-Help.gif);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 28px;
	padding-top: 2px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#contactoCEDI a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
	width:212px;
	text-decoration: none;
	color: #FFFFFF;
}
#contactoCEDI a:hover{
	text-decoration: underline;
}