body{
	background-color: #EEEEEE;
	font-size: small;
	font-family: Calibri,Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	color:#4c4c4c;
}
p {
  margin: 0;
}
input[type='text'] {
  font-family: Calibri,Arial, Helvetica, sans-serif;
  font-size: small;
}
input[type='password'] {
  font-family: Calibri,Arial, Helvetica, sans-serif;
  font-size: small;
}
input[type='select'] {
  font-family: Calibri,Arial, Helvetica, sans-serif;
  font-size: small;
}
input[type ='submit'] {
  font-family: Calibri,Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.footer {
  font-weight: bold;
  text-align: center;  
  font-size: xx-small;  
  background-color: #4c4c4c;
  color: #FFFFFF;
  padding: 2px 0 2px 0;
}
.footer a{
  text-decoration: none;
  color: white;
}
.submit input {  
  background-color: #006b8d;
  border: 1px solid #006b8d;
  color: white;
  font-weight: bold;
  font-size: x-small;
  margin: 2px 0 2px 0;  
}
.msj {
  padding: 10px 0 10px 0;
  text-align: center;
  font-size: small;
  color: #0C5979;
  font-style: italic;
  color: red;
}
.titulo {
    font-family:Calibri,Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    background:#4c4c4c;
}
.subtitulo {
	font-family:Calibri, Arial, Helvetica, sans-serif;
	color:#76746e;
	background:#dad7d0;
	font-size: 11px;
}
.sub_h2 {
    font-family:Calibri,Arial, Helvetica, sans-serif;
    color:#5fc1cf;
    font-size: large;  
}
.sub_h3 {
    font-family:Calibri,Arial, Helvetica, sans-serif;
    color:#5fc1cf;
    font-size: small;  
}
.clear {
    clear:both;
    overflow:auto;
}
.total {
    font-family:Calibri,Arial, Helvetica, sans-serif;
    color:white;
    background:#056f87;
}
.total a{
    font-family:Calibri,Arial, Helvetica, sans-serif;
    color:white;
    background:#056f87;
}
.menu {
	font-family:Calibri, Arial, Helvetica, sans-serif;
	color:white;
	background:#5fc1cf;
	width:100px;
	font-size: 15px;
	font-weight: bold;
}
.menu a{
    font-family:Calibri,Arial, Helvetica, sans-serif;
    color:white;
    background:#056f87;
    width:100px;
}
.button {
	font-family:Calibri, Arial, Helvetica, sans-serif;
	border: none;
	background: #006b8d;
	color:White;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	font-size: 15px;
	text-decoration: none;
 }
 .button:hover {
    color:White;
    background:#5fc1cf;
 }
 .row_odd {
    font-family:Calibri,Arial, Helvetica, sans-serif;
    color:#76746e;
    background: Silver ;
}
.leyenda {
    font-family:Calibri,Arial, Helvetica, sans-serif;
    color:#76746e;
    background:#dad7d0;
    font-size: xx-small;  
}
 .row_odd_blue {
    font-family:Calibri,Arial, Helvetica, sans-serif;
    color:#76746e;
    background: Silver ;
}
.home_titulo {
	font-family:Calibri, Arial, Helvetica, sans-serif;
	color:#006B8D;
	/*width:100px;*/
    font-size: 19px;
	font-weight: bold;
	padding-left:3px;
}
.etiqueta_nombre {
    font-family:Calibri,Arial, Helvetica, sans-serif;
    color:#686868;
    font-size: small;
    /*background: #EEEEEE ;*/
}
.formularioB {
	width:320px;
	height:235px;
	background-image: url(../images/iphone320x322.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 10px;
}
.formularioBLan {
	width:460px;
	height:235px;
	background-image: url(../images/iphone480x188.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 10px;
}
.redondear{
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom:5px;
}
.celdaBanner {
	background-image: url(../images/fondoBanner.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 0px;
	height: 90px;
	width: 160px;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 11px;
	line-height: 11px;
	color: #000000;
	text-decoration: none;
	line-height: 13px;
	padding-left:5px;
	padding-top:5px;
}
.redondearBanner{
	width:140px;
	height:90px;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 11px;
	line-height: 11px;
	color: #000000;
	text-decoration: none;
	line-height: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;
	padding-right: 4px;
}
.TitBanner {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 15px;
	line-height: 17px;
	color: #006b8d;
	text-decoration: none;
	font-weight: bold;
}
.subTitBanner {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 13px;
	line-height: 15px;
	color: #5fc1cf;
	text-decoration: none;
}
.footerDerechos {
	font-family: Arial, Helvetica, sans-serif;
	/*font-family: "CorporateARegularItalic";*/
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #b2abad;
	text-decoration: none;
	text-align: center;
	padding-left: 0px;
	padding-top: 8px;
	background-color: #525250;
}
.footerEnlace {
	font-family: Arial, Helvetica, sans-serif;
	/*font-family: "CorporateARegularItalic";*/
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #525250;
	text-decoration: none;
	text-align: right;
	padding-bottom: 6px;
	padding-right: 5px;
	padding-top: 6px;
	background-color: #b2abad;
}
.datosUsuario{
	float:left;
	height:60px;
	width:250px;
	position: relative;
	padding-top: 4px;
	padding-left: 6px;
}
.identificacion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	background-image: url(../images/esquina.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	height: 26px;
	width: auto;
	padding-top:4px;
	padding-left:5px;
}
.identificacion span{
	background-image: url(../images/esquina_etiqueta.gif);
	background-repeat: no-repeat;
	background-position: 0px -4px;;
	height: 26px;
	width: 25px;
	position:relative;
	float:right;
}
.TablaBlanca {
	background-color: #FFFFFF;
}
.breadcrumbR {
	width:auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7.5px;
	font-weight: normal;
	color: #000000;
}
.breadcrumbR a{
	width:auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7.5px;
	font-weight: normal;
	color: #000000;
}
.breadcrumbS {
	width:auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7.5px;
	font-weight: normal;
	color: #e29306;
}
.tablaMarca{
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 12px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom:5px;
	width:314px;
	height:51px;
	background-image: url(../images/baseLogoCliente.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.texto1footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #60605E;
	background-color: #dad7d0;
	padding: 4px;
}
.texto1footer2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7px;
	color: #FFF;
	background-color: #60605E;
	padding: 4px;
}
.nafin_phone:hover{
  text-decoration: none;
  color: #BFBBB0;
	font-size: 8px;
}
.nafin_phone{
  text-decoration: none;
  color: #BFBBB0;
	font-size: 8px;
}