<%@ page contentType="application/json;charset=UTF-8"
	import="
		java.util.*,
		java.text.*,
		netropology.utilerias.*,
		netropology.utilerias.usuarios.*,
		com.netro.model.catalogos.*,
		com.netro.model.catalogos.CatalogoEPOPyme,
		com.netro.model.catalogos.CatalogoMoneda,
		com.netro.model.catalogos.CatalogoSimple,		
		com.netro.afiliacion.*,
		com.netro.exception.*,
		javax.naming.*,
		com.netro.pdf.*,
		net.sf.json.*"
	errorPage="/00utils/error_extjs.jsp"   
%>
 
<%
String infoRegresar = "";
String informacion = (request.getParameter("informacion")!=null)?request.getParameter("informacion"):"";
String operacion = (request.getParameter("operacion")!=null)?request.getParameter("operacion"):"";
String msgError = "";
try{

String cboEpo = (request.getParameter("cboEpo")==null)?"":request.getParameter("cboEpo");
String cboMoneda = (request.getParameter("cboMoneda")==null)?"":request.getParameter("cboMoneda");
String txtFechaVenca = (request.getParameter("txtFechaVenca")==null)?"":request.getParameter("txtFechaVenca");
String txtFechaVencDe = (request.getParameter("txtFechaVencDe")==null)?"":request.getParameter("txtFechaVencDe");
String cboIf = (request.getParameter("cboIf")==null)?"":request.getParameter("cboIf");
String cveEpoOriginal = (request.getParameter("cveEpoOriginal")==null)?"":request.getParameter("cveEpoOriginal");

String claveIF = !cboIf.equals("")?cboIf.split("\\|")[0]:"";
String sIntermediario = "", sTipoPiso = "", sLimiteActivo = "";
String sTipoLimite = "E";
String bancoDeFondeo	= "";

String pymeBloq = "N";
String urlCapturaDatos = "";

ISeleccionDocumento BeanSeleccionDocumento = ServiceLocator.getInstance().lookup("SeleccionDocumentoEJB", ISeleccionDocumento.class);

Afiliacion afiliacion = ServiceLocator.getInstance().lookup("AfiliacionEJB", Afiliacion.class);

ParametrosDescuento BeanParamDscto = ServiceLocator.getInstance().lookup("ParametrosDescuentoEJB", ParametrosDescuento.class);

boolean operaNotasDeCredito                = false;
boolean aplicarNotasDeCreditoAVariosDoctos = false;

//MODIFICACION FODEA 041-2009 FVR (tipoFact)
String tipoFact = (request.getParameter("tipoFact")==null)?"N":request.getParameter("tipoFact");

//FODEA 005-2009 FVR-INICIO
String msgDiaSigHabil = "";
String fecDiaSigHabil = "";
String tipo_servicio = "";

//FODEA 016-2010 FVR
String msgOperFact24hrs = "";
String msgFecVencPyme = "";

String icgrupo = "";
String sNoEpo ="";	
String epo1 =cboEpo;	
 //sNoEpo = ("".equals(cboEpo))?iNoEPO:cboEpo.substring(0,cboEpo.indexOf('|'));
 
if("".equals(cboEpo)){
  sNoEpo = iNoEPO;
}else{
  sNoEpo = cboEpo.substring(0,cboEpo.indexOf('|'));
}

//FODEA 005-2009 FVR-FIN
String sNombrePyme = (session.getAttribute("strNombrePymeAsigna")==null)?"":session.getAttribute("strNombrePymeAsigna").toString();
String sNEPyme = (session.getAttribute("strNePymeAsigna")==null)?"":session.getAttribute("strNePymeAsigna").toString();

boolean doctosAplicados = false;

//SE COMENTA DEBIDO A QUE YA NO SE USA (EGB fue el culpable jajaja)
/*
String vez = (request.getParameter("Vez")==null)?"":request.getParameter("Vez");
if (!vez.equals("1")) { //Es la primera vez que se carga la página
		CoDoctos.vCobranzaObraPublica(iNoCliente); 
		CoDoctos.CobroDocumentos(iNoCliente,iNoUsuario);
		CoDoctos.PignorarDocumentos(iNoCliente);
		CoDoctos.CobroDocumentosInv(iNoCliente);
		response.sendRedirect("13forma1.jsp?Vez=1");
	}
*/

if (!cboIf.equals("")) {
	Vector vcboIf = new Vector();
	vcboIf = Comunes.explode("|",cboIf);
	sIntermediario 	= vcboIf.get(0).toString();
	sTipoPiso 		= vcboIf.get(2).toString();
	sTipoLimite 	= vcboIf.get(3).toString();
}


//SE VERIFICA SI LA PYME ESTA BBLOQUEDA

if (afiliacion.pymeBloqueada(iNoCliente, "1")) {	//1 = Descuento Electronico
	pymeBloq = "S";
}
  
if("N".equals(pymeBloq)){
	try{
   
		if(strTipoUsuario.equals("PYME")){
			//SE VERIFICA SI LA PYME ESTA DENTRO DE LOS HORARIOS PARA OPERAR DESC. ELECT (24 HORAS)
			Horario.validarHorario(1,strTipoUsuario);
			//**tipo_servicio = Horario.validarHorarioDescElec(1, strTipoUsuario, sNoEpo);//**DATO A REGERSAR EN OBJ JSON
			 
			//SE VALIDA ALGO QUE NO SEP QUE ES, CREO ALGO DE LAS EPOS QUE PERTENECEN A UN GRUPO
			icgrupo = afiliacion.consultaDatosExternos(iNoCliente,sNoEpo);
         
         System.err.println("icgrupo " + icgrupo);

			if(!icgrupo.equals("")){
				//SI ENTRA AQUI HAY QUE REDIRECCIONAR O MOSTRAR EL JSP INDICADO
            System.err.println("(2)    icgrupo " + icgrupo);
				urlCapturaDatos = "captura_datosext.jsp?archivo=1&ic_grupo="+icgrupo;//**DATO A REGERSAR EN OBJ JSON	
			}
		}
		
		if(strTipoUsuario.equals("NAFIN") && sNoEpo!=null){
			//**tipo_servicio = Horario.validarHorarioDescElec(1, strTipoUsuario, sNoEpo);//**DATO A REGERSAR EN OBJ JSON
			Horario.validarHorario(1,strTipoUsuario);
		}
		
		/* SE MUEVE DE LUGAR POR F013-2013
			if("SH".equals(tipo_servicio)){
			int num_dias =1;
			String fec_actual = Fecha.getFechaActual();
			while(!Horario.validarDiaSigHabil(strTipoUsuario, sNoEpo, num_dias)){
				num_dias +=1;
			}
			fecDiaSigHabil = Fecha.sumaFechaDias(fec_actual,num_dias);//**DATO A REGERSAR EN OBJ JSON
			msgDiaSigHabil="Esta operación ser&aacute; programada para el Siguiente D&iacute;a H&aacute;bil "+fecDiaSigHabil;//**DATO A REGERSAR EN OBJ JSON
			
			if (!BeanSeleccionDocumento.operaEpoFactoraje24hrs(sNoEpo) || !BeanSeleccionDocumento.operaIfFactoraje24hrs(claveIF)){
				msgOperFact24hrs ="EPO o IF seleccionada no Opera Factoraje 24hrs";//**DATO A REGERSAR EN OBJ JSON
			}
		}
		*/
			
		
		//no se si se utiliza todavía
		doctosAplicados = BeanSeleccionDocumento.bDocumentosAplicados(iNoCliente);
		
		
		if("PYME".equals(strTipoUsuario)){
			String sFechaVencPyme = BeanSeleccionDocumento.operaFechaVencPyme(sNoEpo);
			if(!"".equals(sFechaVencPyme)) {
				msgFecVencPyme = 	"Importante: Las operaciones seleccionadas se les aplicar&aacute; una comisi&oacute;n por parte del Intermediario Financiero con el que realice la transacci&oacute;n.";
			}
		}
	} catch (NafinException ne4) {	
		ne4.printStackTrace();
		msgError = ne4.getMsgError();
	}
}

//Fodea 022-2011 (E);
String validarFechaLimite = (request.getParameter("validarFechaLimite")==null)?"N":request.getParameter("validarFechaLimite");
String validarFechaLimite2 = (request.getParameter("validarFechaLimite2")==null)?"":request.getParameter("validarFechaLimite2");

Vector vEpo = new Vector();
Vector vMoneda = new Vector();
Vector vTasaAceptada = new Vector();
String limitesMax = "", limitesUtil = "";
float valorTC = 1;
int datos = 0;
boolean tasaok = true;
String selected = "", strMoneda ="", tasaMsg = "";	 

//----------------------------------------------------------------------
if(informacion.equals("validaHorario")){
	JSONObject jsonObj = new JSONObject();
	
	vEpo = Comunes.explode("|",cboEpo.trim());
	
	try{
		tipo_servicio = Horario.validarHorarioDescElec(1, strTipoUsuario, vEpo.get(0).toString(), claveIF);//**DATO A REGERSAR EN OBJ JSON
	
	}catch(NafinException exception){
		msgError = "---Fuera del horario de servicio para el Intermediario Financiero seleccionado, favor de seleccionar otro";
	}
		if("SH".equals(tipo_servicio)){
			int num_dias =1;
			String fec_actual = Fecha.getFechaActual();
			while(!Horario.validarDiaSigHabil(strTipoUsuario, sNoEpo, num_dias)){
				num_dias +=1;
			}
			fecDiaSigHabil = Fecha.sumaFechaDias(fec_actual,num_dias);//**DATO A REGERSAR EN OBJ JSON
			msgDiaSigHabil="Esta operación ser&aacute; programada para el Siguiente D&iacute;a H&aacute;bil "+fecDiaSigHabil;//**DATO A REGERSAR EN OBJ JSON
			
			if (!BeanSeleccionDocumento.operaEpoFactoraje24hrs(sNoEpo) || !BeanSeleccionDocumento.operaIfFactoraje24hrs(claveIF)){
				msgOperFact24hrs ="EPO o IF seleccionada no Opera Factoraje 24hrs";//**DATO A REGERSAR EN OBJ JSON
			}
		}
	
	
	jsonObj.put("success", new Boolean(true));
	jsonObj.put("strTipoUsuario", strTipoUsuario);
	jsonObj.put("tipo_servicio", tipo_servicio);
	jsonObj.put("fecDiaSigHabil", fecDiaSigHabil);
	jsonObj.put("msgDiaSigHabil", msgDiaSigHabil);
	jsonObj.put("msgOperFact24hrs", msgOperFact24hrs);
	jsonObj.put("msgError", msgError);
	
	

	infoRegresar= jsonObj.toString();

}else if (informacion.equals("validaContrato")) {	 
	JSONObject jsonObj = new JSONObject();
	boolean contratoAceptado	= true;

	if(BeanParamDscto.contratoParametrizado(cveEpoOriginal) && 
		!BeanParamDscto.contratoAceptado(iNoCliente, cveEpoOriginal)) {
			contratoAceptado = false;
	}
	
	jsonObj.put("success", new Boolean(true));
	jsonObj.put("contratoAceptado", new Boolean(contratoAceptado));
	
	infoRegresar= jsonObj.toString();

}else if (informacion.equals("valoresIniciales")) {	   
	
	com.netro.seguridadbean.Seguridad BeanSegFacultad = ServiceLocator.getInstance().lookup("SeguridadEJB", com.netro.seguridadbean.Seguridad.class);
	String icUsuario = request.getParameter("strUsr")==null?"":request.getParameter("strUsr");
	
	boolean validaCder = true;
	
	if("NAFIN".equals(strTipoUsuario)){
		String csValidaCveCDer = BeanSegFacultad.consultaParamValidCveCder(icUsuario);
		if("".equals(csValidaCveCDer) || "X".equals(csValidaCveCDer)){
			validaCder = BeanParamDscto.getValidaCveCder();
		}else{
			validaCder = "S".equals(csValidaCveCDer)?true:false;
		}
	}
	
	//boolean validaCder = "NAFIN".equals(strTipoUsuario)?BeanParamDscto.getValidaCveCder():true;
	
	
	String cvePyme = (request.getParameter("cvePyme")!=null)?request.getParameter("cvePyme"):""; //F015-2014	
	if("".equals(cvePyme)){ 	cvePyme =  iNoCliente;  	}
	if("".equals(cveEpoOriginal)){ 	cveEpoOriginal =  iNoEPO;  	}
		
	String bloqueoPymeEpo =   afiliacion.getPyme_Epo_Bloqueo("1",  cvePyme, cveEpoOriginal);  //F015-2014
	
	JSONObject jsonObj = new JSONObject();
	session.setAttribute("no_accesos_seleccion_pyme","1");

	jsonObj.put("success", new Boolean(true));
   jsonObj.put("icgrupo", icgrupo);
	jsonObj.put("strTipoUsuario", strTipoUsuario);
	jsonObj.put("pymeBloq", pymeBloq);
	jsonObj.put("tipo_servicio", tipo_servicio);
	jsonObj.put("urlCapturaDatos", urlCapturaDatos);
	jsonObj.put("fecDiaSigHabil", fecDiaSigHabil);
	jsonObj.put("msgDiaSigHabil", msgDiaSigHabil);
	jsonObj.put("msgOperFact24hrs", msgOperFact24hrs);
	jsonObj.put("msgFecVencPyme", msgFecVencPyme);
	jsonObj.put("doctosAplicados", new Boolean(doctosAplicados));
	jsonObj.put("usuario", strNombreUsuario);
	jsonObj.put("iNoEPO", iNoEPO);
	jsonObj.put("msgError", msgError);
	jsonObj.put("bloqueoPymeEpo", bloqueoPymeEpo);
	jsonObj.put("validaCder", new Boolean(validaCder));
	
	
	
	CValidacion objValidaProd = new CValidacion();
	String msgSinNumeroProveedor = "";

	
	/*if (!"S".equals(objValidaProd.descElecPymeAcceso(Integer.parseInt(iNoCliente), Integer.parseInt(iNoEPO),"NANET"))) {
		msgSinNumeroProveedor = "Por el momento no puede operar el servicio en la Cadena Productiva seleccionada, ya que no cuenta con su n&uacute;mero de proveedor.";
	}*/
	
	//jsonObj.put("msgSinNumeroProveedor",  msgSinNumeroProveedor);
	
	infoRegresar= jsonObj.toString();
}else if (informacion.equals("catalogoEpo")) {
	
	CatalogoEPOPyme cat = new CatalogoEPOPyme();
	cat.setCampoClave("ic_epo");
	cat.setCampoDescripcion("cg_razon_social");
	cat.setAceptacion("H");
	
	//if("PYME".equals(strTipoUsuario))
	cat.setClavePyme(iNoCliente);
	cat.setOrden("cg_razon_social");
	infoRegresar = cat.getJSONElementos();
} else if (informacion.equals("catalogoMoneda")) {

	CatalogoMoneda cat = new CatalogoMoneda();
	cat.setCampoClave("ic_moneda||'|'||M.cd_nombre");
	cat.setCampoDescripcion("cd_nombre");
	cat.setOrden("1");
	infoRegresar = cat.getJSONElementos();
} else if(informacion.equals("ConsultarGeneraCboIf")){

	JSONObject jsonObj = new JSONObject();
	//Paso 1 al consultar--------------------------------------------------------
	vEpo = Comunes.explode("|",cboEpo.trim());
	vMoneda = Comunes.explode("|",cboMoneda.trim());
	cboMoneda = vMoneda.get(0).toString();
	strMoneda = Comunes.implode("|",vMoneda);
	//Paso 2 al consultar--------------------------------------------------------
	HashMap limites = null;
	String sTipoTasa = "B";
	String scgPuntos = "";
	String scgRelMat = "";
	String sPuntosPref = "0";
	List lstIntermediarios = null;

	boolean aplicaOfertaTasa = false;
	String msgCboIf = "Seleccionar";
	boolean existeHorValido = false;

	try {
		String Inter="";
		//FODEA 005-2009 FVR - INI
		System.out.println("vEpo.get(0).toString()vEpo.get(0).toString()vEpo.get(0).toString()========"+vEpo.get(0).toString());
		vTasaAceptada = BeanSeleccionDocumento.ovgetTasaAceptada(iNoCliente, vEpo.get(0).toString(), vMoneda.get(0).toString(), Inter,fecDiaSigHabil);

		String intermediariosFin = "0";
		for (int i= 0; i<vTasaAceptada.size(); i++) {
			Vector vDatos = (Vector) vTasaAceptada.get(i);
			//System.out.println("Vector: "+vDatos);
			if (i==0)
				intermediariosFin = vDatos.get(2).toString();
			else
				intermediariosFin += "," + vDatos.get(2).toString();
		}

		//PROVEEDOR CON CREDITOS CON EL ESTATUS ?OPERADO VENCIDO?
		intermediariosFin = BeanSeleccionDocumento.ovgetIntermediariosOperadoVenc(iNoCliente, vEpo.get(0).toString(), intermediariosFin);

		if(intermediariosFin.equals("")) intermediariosFin = "null";

		//Vector vIntermediarios 	= BeanSeleccionDocumento.ovgetIntermediariosRelacionados(iNoCliente, vEpo.get(0).toString(), vMoneda.get(0).toString(), intermediariosFin,"",tipoFact);
		try{
			lstIntermediarios 	= BeanSeleccionDocumento.ovgetIntermediariosRelacionadosJson(iNoCliente, vEpo.get(0).toString(), vMoneda.get(0).toString(), intermediariosFin,"",tipoFact);

			//VALIDACION HORARIO EPOxIF
			for(int i=0; i<lstIntermediarios.size(); i++){
				HashMap hm = new HashMap();
				hm = (HashMap)lstIntermediarios.get(i);
				String cveIF = (String)hm.get("lsIf");

				try{
					Horario.validarHorarioDescElec(1, strTipoUsuario, vEpo.get(0).toString(), cveIF);//**DATO A REGERSAR EN OBJ JSON
					if(!existeHorValido){
						jsonObj.put("cveIFtmp", cveIF);
					}
					existeHorValido = true;
				}catch(Throwable t){
					System.out.println("Horario Cerrado EPO: "+vEpo.get(0).toString()+" - IF: "+cveIF);
				}
				
			}

			double totalMontoDoctos = 0.0;
			try{
				Vector vDoctosDscto = BeanSeleccionDocumento.ovgetTotalMontoDocumentosDescontar(iNoCliente, vMoneda.get(0).toString(), vEpo.get(0).toString(), txtFechaVencDe, txtFechaVenca, "1", sTipoPiso,"2");
				for (int i = 0; i < vDoctosDscto.size(); i++) {
						Vector vDatosDoctosDescontar = (Vector) vDoctosDscto.get(i);
						String monto = vDatosDoctosDescontar.get(5).toString();
						totalMontoDoctos += Double.parseDouble(monto);
						//numDoctos++;
				}	

				//Metodo para determinar que if's tienen oferta de tasas parametrizadas y alguno de sus rangos contempla el total del monto de los documentos.
				List lstIntermOferta = BeanSeleccionDocumento.getIntermediariosConOfertaDeTasas(iNoCliente, vEpo.get(0).toString(), vMoneda.get(0).toString(), lstIntermediarios, String.valueOf(totalMontoDoctos));
				if(lstIntermOferta.size()>0){
					aplicaOfertaTasa = true;
				}
			}catch(Exception nz){
				aplicaOfertaTasa = false;
			}

			jsonObj.put("aplicaOfertaTasa", new Boolean(aplicaOfertaTasa));
		}catch(Throwable t){
			existeHorValido = true;
			lstIntermediarios = new ArrayList();
			msgCboIf = " No existe una relacion PYME - IF en la Moneda y EPO seleccionada.";
		}
	}catch(Throwable t){
		existeHorValido = true;
		lstIntermediarios = new ArrayList();
		msgCboIf = "No se ha encontrado una tasa certificada por EPO-IF-NAFIN";
	}
	String cvePyme = (request.getParameter("cvePyme")!=null)?request.getParameter("cvePyme"):""; //F015-2014
	if("".equals(cvePyme)){ 	cvePyme =  iNoCliente;  	}
	if("".equals(cveEpoOriginal)){ 	cveEpoOriginal =  iNoEPO;  	}
	String bloqueoPymeEpo =   afiliacion.getPyme_Epo_Bloqueo("1",  cvePyme, cveEpoOriginal);  //F015-2014	

	JSONArray jsObjArray = new JSONArray();
	jsObjArray = JSONArray.fromObject(lstIntermediarios);

	jsonObj.put("horarioValido", new Boolean(existeHorValido));
	jsonObj.put("msgCboIf", msgCboIf);
	jsonObj.put("registros", jsObjArray.toString());
	jsonObj.put("total", jsObjArray.size()+"");
	 jsonObj.put("bloqueoPymeEpo", bloqueoPymeEpo);
	jsonObj.put("success", new Boolean(true));
	
	//infoRegresar = "{\"success\": true, \"total\": \"" + jsObjArray.size() + "\", \"registros\": " + jsObjArray.toString()+"}";
	infoRegresar = jsonObj.toString();
	

}else if(informacion.equals("GeneraInfoCons")){
	JSONObject jsonObj = new JSONObject();
	
	
	HashMap 	limites 		= new HashMap();
	boolean  shownotas = false;
	
	vEpo = Comunes.explode("|",cboEpo.trim());
	vMoneda = Comunes.explode("|",cboMoneda.trim());
	cboMoneda = vMoneda.get(0).toString();
	strMoneda = Comunes.implode("|",vMoneda);

	String bloqueoPymeEpoIF=  BeanSeleccionDocumento.validaBloqueoPymeEpoIF(iNoCliente, vEpo.get(0).toString(), claveIF ); // FODEA 025 - 2015
	
	String operaMontosMenores  =  BeanSeleccionDocumento.operaMontosMenoresIF  (claveIF );
	
	try{
		tipo_servicio = Horario.validarHorarioDescElec(1, strTipoUsuario, vEpo.get(0).toString(), claveIF);
		if("SH".equals(tipo_servicio)){
			int num_dias =1;
			String fec_actual = Fecha.getFechaActual();
			while(!Horario.validarDiaSigHabil(strTipoUsuario, sNoEpo, num_dias)){
				num_dias +=1;
			}
			fecDiaSigHabil = Fecha.sumaFechaDias(fec_actual,num_dias);//**DATO A REGERSAR EN OBJ JSON
			msgDiaSigHabil="Esta operación ser&aacute; programada para el Siguiente D&iacute;a H&aacute;bil "+fecDiaSigHabil;//**DATO A REGERSAR EN OBJ JSON
			
			if (!BeanSeleccionDocumento.operaEpoFactoraje24hrs(sNoEpo) || !BeanSeleccionDocumento.operaIfFactoraje24hrs(claveIF)){
				msgOperFact24hrs ="EPO o IF seleccionada no Opera Factoraje 24hrs";//**DATO A REGERSAR EN OBJ JSON
			}
		}
	}catch(NafinException neH){
		neH.printStackTrace();
		msgError = neH.getMsgError();
	}
	
	
	
	jsonObj.put("strTipoUsuario", strTipoUsuario);
	jsonObj.put("pymeBloq", pymeBloq);
	jsonObj.put("tipo_servicio", tipo_servicio);
	jsonObj.put("urlCapturaDatos", urlCapturaDatos);
	jsonObj.put("fecDiaSigHabil", fecDiaSigHabil);
	jsonObj.put("msgDiaSigHabil", msgDiaSigHabil);
	jsonObj.put("msgOperFact24hrs", msgOperFact24hrs);
	jsonObj.put("msgFecVencPyme", msgFecVencPyme);
	jsonObj.put("sTipoLimite", sTipoLimite);
	jsonObj.put("doctosAplicados", new Boolean(doctosAplicados));
	jsonObj.put("bloqueoPymeEpoIF", bloqueoPymeEpoIF);
	jsonObj.put("operaMontosMenores", operaMontosMenores);
	
	bancoDeFondeo 	= BeanSeleccionDocumento.getBancoDeFondeo(vEpo.get(0).toString());//OBTIENE BANCO DE FONDEO PARAMETRIZADO PARA LA EPO
	jsonObj.put("bancoDeFondeo", bancoDeFondeo);	
		
	if(!claveIF.equals("")) { 
		limites = BeanSeleccionDocumento.getLimites(iNoCliente,vEpo.get(0).toString(),vMoneda.get(0).toString(),claveIF);
		jsonObj.put("limites", limites);	
	}
	
	valorTC = BeanSeleccionDocumento.fgetTipoCambio(vMoneda.get(0).toString());
	jsonObj.put("success", new Boolean(true));
	jsonObj.put("valorTC", String.valueOf(valorTC));
	
	int numCamposDinamicos = 0;	//Campos dinámicos solo se presentan a la Pyme no a Nafin
	List nombres = new ArrayList();
	
	boolean paramEpoPef = BeanSeleccionDocumento.parametrizacionEpoPef(sNoEpo);
	jsonObj.put("paramEpoPef", new Boolean(paramEpoPef));
	
	if("PYME".equals(strTipoUsuario)){	//Usuario Pyme
		 Map mapNombres = new LinkedHashMap();
		 nombres = BeanSeleccionDocumento.getNombreCamposDinamicos(sNoEpo);
		 numCamposDinamicos = nombres.size();
		 jsonObj.put("numCamposDinamicos", String.valueOf(numCamposDinamicos));
		for(int x=0; x<nombres.size();x++){
			mapNombres.put("CAMPO"+x,nombres.get(x));
		}
		jsonObj.put("mapNombres", mapNombres);
	}
	//============================================================================== FODEA 050-2008
	int span = 0;
	if("NAFIN".equals(strTipoUsuario)){	//Usuario Pyme
		if(paramEpoPef){
			numCamposDinamicos += 4;
			jsonObj.put("numCamposDinamicos", String.valueOf(numCamposDinamicos));
		}
	}				
	if("PYME".equals(strTipoUsuario)){	//Usuario Pyme
		if(paramEpoPef){span += 1;}
	} 
	
	String montos= "", descuentos = "", intereses = "", totalrecibir = "";//Se empleara en JavaScript
	if (tasaok) {
		List lstDoctosAmostrar = new ArrayList();
		List icDoctosNotas	=	new ArrayList();
		List icNotasAp		=	new ArrayList();
		boolean noTasasAceptada = false;
		try {
			Vector vTasaPlazoIF = new Vector();
			if(!cboIf.equals("")) { //Cuando la consulta se hace por primera vez toma el primer if.
				vTasaAceptada.removeAllElements();

				vTasaAceptada = BeanSeleccionDocumento.ovgetTasaAceptada(iNoCliente, vEpo.get(0).toString(), vMoneda.get(0).toString(), sIntermediario,fecDiaSigHabil);
				
				sLimiteActivo = BeanSeleccionDocumento.getLimiteActivo(sNoEpo, sIntermediario, iNoCliente);
				jsonObj.put("sLimiteActivo", sLimiteActivo);
			}
			for (int i= 0; i<vTasaAceptada.size(); i++) {
				Vector vDatos = (Vector) vTasaAceptada.get(i);
				if (sIntermediario.equals(vDatos.get(2).toString())) {
					System.out.println("Nuevo Vector Por Intermediario: "+vDatos);
					vTasaPlazoIF.addElement(vDatos);
				}
			}
			
			
					
			// Fodea 002 - 2010. Verificar si la EPO tiene Habilitada la Operacion de las Notas de Credito
			operaNotasDeCredito                = BeanParamDscto.operaNotasDeCreditoParaDescuentoElectronico(vEpo.get(0).toString());
			jsonObj.put("operaNotasDeCredito", new Boolean(operaNotasDeCredito));
			// Fodea 002 - 2010. Verificar si la EPO tiene Habilitada la Opcion de Aplicar una Nota de Credito a Varios Documentos
			aplicarNotasDeCreditoAVariosDoctos = BeanParamDscto.hasAplicarNotaDeCreditoAVariosDoctosEnabled(vEpo.get(0).toString());
			jsonObj.put("aplicarNotasDeCreditoAVariosDoctos", new Boolean(aplicarNotasDeCreditoAVariosDoctos));

			Vector vDocumentosDescontar = new Vector();
			try{
				if(sNoEpo!=null  && !claveIF.equals("") && validarFechaLimite2.equals("") ) {		
					validarFechaLimite =  BeanParamDscto.getValidarFechaLimite( sNoEpo, claveIF);	
					if(validarFechaLimite.equals("S")){ 
						jsonObj.put("sFecVencLineaCred", "S");
					}else{
						vDocumentosDescontar = BeanSeleccionDocumento.ovgetDocumentosDescontar(iNoCliente, vMoneda.get(0).toString(), vEpo.get(0).toString(), vTasaPlazoIF, txtFechaVencDe, txtFechaVenca, sIntermediario, sTipoPiso);
					}
				}
			}catch(NafinException t){
				msgError = t.getMsgError();
				throw t;
			}
			
			// Extraer el desglose del calculo de las notas de credito
			ArrayList listaNotasCreditoMultiple = new ArrayList();
			if(operaNotasDeCredito && aplicarNotasDeCreditoAVariosDoctos){
				for (int i = 0; i < vDocumentosDescontar.size(); i++) {
					Vector vDatosDocumentosDescontar = (Vector)vDocumentosDescontar.get(i);
					ArrayList lista = (ArrayList) vDatosDocumentosDescontar.get(27);
					if(lista.size()>0){
						for(int j=0;j<lista.size();j++){
							listaNotasCreditoMultiple.add((NotaCreditoMultiple)lista.get(j));
						}
					}
				}
				session.setAttribute("listaNotasCreditoMultiple",listaNotasCreditoMultiple);
			}
				
			int i=0, doc=0;
			boolean regValido = false;
			
			//Inicia ciclo for ----------------------------------------------
			
			for (i = 0; i < vDocumentosDescontar.size(); i++) {
				regValido = false;
				Vector vDatosDocumentosDescontar = (Vector) vDocumentosDescontar.get(i);
				HashMap mapDoctos = new HashMap();
				
				String 			notasCred 			= "";
				StringBuffer 	montosAplicados 	= new StringBuffer();
				StringBuffer 	saldosDocto 		= new StringBuffer();
				
				// Leer lista de Notas de Credito. Version Tradicional
				if(operaNotasDeCredito && !aplicarNotasDeCreditoAVariosDoctos){
					notasCred = vDatosDocumentosDescontar.get(18).toString();
				// Fodea 002 - 2010. Leer lista de Notas de Credito Multiple con sus montos
				// Aplicados, asi como los saldos en los que quedo el documento.
				}else if(operaNotasDeCredito && aplicarNotasDeCreditoAVariosDoctos){
					ArrayList 	lista 	= (ArrayList) vDatosDocumentosDescontar.get(27);
					if(lista.size()>0)
						for(int j=0;j<lista.size();j++){
							
							NotaCreditoMultiple n = (NotaCreditoMultiple) lista.get(j);
							
							if(j>0){
								notasCred 				+= ","; 
								montosAplicados.append(",");	
								saldosDocto.append(",");
							}

							notasCred += n.getIcNotaCredito();
							montosAplicados.append(n.getMontoNotaAplicado());
							saldosDocto.append(n.getSaldoDocto());
						}
				}
				
				if(!BeanSeleccionDocumento.getDocVencSinOperDiaSigHabil(vDatosDocumentosDescontar.get(9).toString(),vEpo.get(0).toString(),fecDiaSigHabil))
					regValido = true;
				
				if (regValido){
					//TODO ESTO SE PUEDE CALCULAR POR EXTJS
					if (doc==0) {	//Se genera una cadena con los valores separados por coma para usarse en JavaScript
						montos = "'" + vDatosDocumentosDescontar.get(5).toString() + "'";
						descuentos = "'" + vDatosDocumentosDescontar.get(6).toString() + "'";
						intereses = "'" + vDatosDocumentosDescontar.get(7).toString() + "'";
						totalrecibir = "'" + vDatosDocumentosDescontar.get(8).toString() + "'";
					} else {
						montos = montos + ",'" + vDatosDocumentosDescontar.get(5).toString() + "'";
						descuentos = descuentos + ",'" + vDatosDocumentosDescontar.get(6).toString() + "'";
						intereses = intereses + ",'" + vDatosDocumentosDescontar.get(7).toString() + "'";
						totalrecibir = totalrecibir + ",'" + vDatosDocumentosDescontar.get(8).toString() +"'";
					}	
				}
				mapDoctos.put("SELEMONTOMINI","S");
				//mapDoctos
				mapDoctos.put("NUMDOCTO",vDatosDocumentosDescontar.get(0).toString());
				mapDoctos.put("FECEMISION",vDatosDocumentosDescontar.get(1).toString());
				mapDoctos.put("FECVENC",vDatosDocumentosDescontar.get(2).toString());
				mapDoctos.put("PLAZO",vDatosDocumentosDescontar.get(3).toString());
				mapDoctos.put("TASA",vDatosDocumentosDescontar.get(13).toString());
				
				mapDoctos.put("MONEDA",vDatosDocumentosDescontar.get(17).toString());
				mapDoctos.put("MONTO",vDatosDocumentosDescontar.get(5).toString());
				mapDoctos.put("PORCDESC",vDatosDocumentosDescontar.get(10).toString());
				mapDoctos.put("MONTODESC",vDatosDocumentosDescontar.get(6).toString());
				
				mapDoctos.put("IMPORTINT", vDatosDocumentosDescontar.get(7).toString());
				mapDoctos.put("IMPORTREC",vDatosDocumentosDescontar.get(8).toString());
				mapDoctos.put("ENTIDAD_GOBIERNO",vDatosDocumentosDescontar.get(28).toString());
				mapDoctos.put("TIPO_USUARIO",strTipoUsuario);
				
				mapDoctos.put("SELECBOOL",new Boolean(regValido));
				String hidden = vDatosDocumentosDescontar.get(9).toString()+"|"+vDatosDocumentosDescontar.get(6).toString()+"|"+
						vDatosDocumentosDescontar.get(7).toString()+"|"+vDatosDocumentosDescontar.get(8).toString()+"|"+
						vDatosDocumentosDescontar.get(10).toString()+"|"+sIntermediario+"|"+vDatosDocumentosDescontar.get(0).toString()+"|"+
						vDatosDocumentosDescontar.get(3).toString()+"|"+vDatosDocumentosDescontar.get(5).toString()+"|"+
						vDatosDocumentosDescontar.get(11).toString()+"|"+vDatosDocumentosDescontar.get(12).toString()+"|"+
						vDatosDocumentosDescontar.get(13).toString()+"|"+vDatosDocumentosDescontar.get(14).toString()+"|"+
						vDatosDocumentosDescontar.get(15).toString()+"|"+vDatosDocumentosDescontar.get(16).toString()+"|"+
						notasCred+" |"+vDatosDocumentosDescontar.get(19).toString()+"| |"
						+montosAplicados.toString()+" |"+saldosDocto.toString()+" ";
				mapDoctos.put("SELECHID",hidden);
				mapDoctos.put("SELECNOTAS",notasCred);
				if(regValido)
					mapDoctos.put("APLICADO","N");
				else
					mapDoctos.put("APLICADO","");
				
				
				if("PYME".equals(strTipoUsuario)){	//Usuario Pyme
					for( int cd = 0; cd < numCamposDinamicos; cd++) {
						mapDoctos.put("CAMPO"+cd,vDatosDocumentosDescontar.get(20 + cd).toString());
					} //fin for
				} //fin if PYME
				
				if(BeanSeleccionDocumento.parametrizacionEpoPef(sNoEpo)){
					List valoresEpoPef = BeanSeleccionDocumento.valoresEpoPef((String)vDatosDocumentosDescontar.get(9), sNoEpo, iNoCliente);
					if(valoresEpoPef.size() > 0){
						mapDoctos.put("FECRECEP",valoresEpoPef.get(0));
						mapDoctos.put("TIPOCOMPRA",valoresEpoPef.get(1));
						mapDoctos.put("CLASIFICADOR",valoresEpoPef.get(2));
						mapDoctos.put("PLAZOMAX",valoresEpoPef.get(3));
					}else{
						//valores vacios
						mapDoctos.put("FECRECEP","");
						mapDoctos.put("TIPOCOMPRA","");
						mapDoctos.put("CLASIFICADOR","");
						mapDoctos.put("PLAZOMAX","");
					}
				}
				
				if(!"".equals(notasCred) && regValido){
					shownotas = true;
					icDoctosNotas.add(vDatosDocumentosDescontar.get(9).toString());
					icNotasAp.add(notasCred);
				}
						
				if (regValido)doc++;
				
				lstDoctosAmostrar.add(mapDoctos);
				
			}//fin for()---------------------------------------------------
		}catch(Throwable t){noTasasAceptada = true;}
			
			jsonObj.put("shownotas", new Boolean(shownotas));
			jsonObj.put("icDoctosNotas", icDoctosNotas);
			jsonObj.put("icNotasAp", icNotasAp);
			jsonObj.put("montos", montos);
			jsonObj.put("descuentos", descuentos);
			jsonObj.put("intereses", intereses);
			jsonObj.put("totalrecibir", totalrecibir);
			jsonObj.put("msgError", msgError);
			jsonObj.put("noTasasAceptada", new Boolean(noTasasAceptada));
			
			JSONArray jsObjArray = new JSONArray();
			jsObjArray = JSONArray.fromObject(lstDoctosAmostrar);
			jsonObj.put("registros", jsObjArray.toString());
			jsonObj.put("total", jsObjArray.size()+"");
			
			infoRegresar = jsonObj.toString();
		
	}

}else if(informacion.equals("confirmaClaveCesion")){
	session.removeAttribute("listaNotasCreditoMultiple"); 
	JSONObject jsonObj = new JSONObject();
	JSONObject jsonObjCifras = new JSONObject();
	String jsonRegistros = (request.getParameter("registros") == null)?"":request.getParameter("registros");
	String valCve = (request.getParameter("valCve") == null)?"N":request.getParameter("valCve");
	List arrRegistros = JSONArray.fromObject(jsonRegistros);
	
	String correo = (request.getParameter("correo")==null)?"N":request.getParameter("correo");
	String email = (request.getParameter("email")==null)?"":request.getParameter("email");
	
	
	String capturadespues = (request.getParameter("capturadespues")==null)?"":request.getParameter("capturadespues");
	String hidTipoLimite 	= (request.getParameter("sTipoLimite")==null)?"E":request.getParameter("sTipoLimite");
	String svalorTC			= request.getParameter("svalorTC");
	String totalMonto 		= request.getParameter("totalMonto");
	String totalDescuento 	= request.getParameter("totalDescuento");
	String totalIntereses 	= request.getParameter("totalIntereses");
	String totalRecibir 		= request.getParameter("totalRecibir");
	
	String seleccionados[]	= new String[arrRegistros.size()];
	Iterator itReg = arrRegistros.iterator();
	int index = 0;
	while (itReg.hasNext()) {
		JSONObject registro = (JSONObject)itReg.next();
		System.out.println("registro.getString(SELECHID)=="+registro.getString("SELECHID"));
		seleccionados[index] = registro.getString("SELECHID");
		index++;
	}
	
	int contadorAccesos = Integer.parseInt((String)session.getAttribute("no_accesos_seleccion_pyme"));
	if(contadorAccesos>=2) {
		response.sendRedirect("13forma1.jsp");
	} else {
		
		vEpo = Comunes.explode("|",cboEpo.trim());
		vMoneda = Comunes.explode("|",cboMoneda.trim());
		//cboMoneda = vMoneda.get(0).toString();
		strMoneda = Comunes.implode("|",vMoneda);
		
		contadorAccesos++;
		session.setAttribute("no_accesos_seleccion_pyme",""+contadorAccesos+"");
		//Variables utilizadas generalmente
		Vector vicIf = new Vector();
		//Guardamos en un Vector los valores de epo, moneda e if
		vMoneda = Comunes.explode("|",strMoneda);
		vEpo = Comunes.explode("|",cboEpo);
		vicIf = Comunes.explode("|",cboIf);
		
		String ifSeleccionado = "";
		String subCad = "";

		StringTokenizer vicIfSeparado = new StringTokenizer(vicIf.get(1).toString());
		while(vicIfSeparado.hasMoreTokens()){
		   subCad = vicIfSeparado.nextToken().toString();
		   if (subCad.equals("Cta.")){
		       break;
		   }else{
		       ifSeleccionado = ifSeleccionado + " " + subCad;
		   }
	    }
		 
		if("S".equals(valCve)){
				try {
	
					if("NAFIN".equals(strTipoUsuario)){
						String _acuse = "";
						String pkcs7 = (request.getParameter("Pkcs7")==null)?"":request.getParameter("Pkcs7");
						String serial = _serial;
						String folioCert = "";
						String externContent = (request.getParameter("TextoFirmado")==null)?"":request.getParameter("TextoFirmado");
						//FODEA023-2010 FVR
						externContent = (request.getHeader("User-Agent").indexOf("MSIE") == -1 && request.getHeader("User-Agent").indexOf("Mozilla") != -1)?java.net.URLDecoder.decode(externContent):externContent;
						char getReceipt = 'Y';	
				
						if (!serial.equals("") && !externContent.equals("") && !pkcs7.equals("")) {
							folioCert = "NANET"+iNoUsuario;//acuse.toString();
							Seguridad s = new Seguridad();
							if (s.autenticar(folioCert, serial, pkcs7, externContent, getReceipt)) {
								_acuse = s.getAcuse();
								jsonObj.put("_acuse",_acuse);
							}else{
								throw new NafinException("GRAL0021");
							}
						}else{
							throw new NafinException("GRAL0021");		
						}
						//out.print("<center><h3><b>La autentificaci&oacute;n se llev&oacute; a cabo con &eacute;xito<br>Recibo:"+_acuse+"</b></h3></center>");
					} // if "Nafin strTipousuario
					
	
					/*if("PYME".equals(strTipoUsuario)){
						BeanSeleccionDocumento.vvalidarUsuario(iNoCliente, cgLogin, cgPassword, (String) request.getRemoteAddr(), (String) request.getRemoteHost(), (String) session.getAttribute("sesCveSistema") );
					}*/
					// Validación para mostrar el prefijo del tipo de acuse que se va a mostrar.
					Acuse acuse = null;
					if(strTipoUsuario.equals("PYME")) {
						acuse = new Acuse(Acuse.ACUSE_PYME,"1");
					} else if(strTipoUsuario.equals("NAFIN")) {
						AccesoDB con = new AccesoDB();
						con.conexionDB();
						
						String sOrigenDscto = (session.getAttribute("ssOrigenDscto")==null?"":session.getAttribute("ssOrigenDscto").toString());
						//sOrigenDscto = "OperTel";
						
						if(sOrigenDscto.equals("OperTel"))
							acuse = new Acuse(Acuse.ACUSE_NAFIN_OPER, "1", con);
						if(sOrigenDscto.equals("CobMan"))
							acuse = new Acuse(Acuse.ACUSE_NAFIN_COB, "1", con);
						
						if(con.hayConexionAbierta()) con.cierraConexionDB();
					}
					
				try { 
						SimpleDateFormat fecha2 = new SimpleDateFormat ("dd/MM/yyyy");
						SimpleDateFormat hora = new SimpleDateFormat ("hh:mm:ss a");
						
						BeanSeleccionDocumento.vrealizarSeleccion(
												vMoneda.get(0).toString(), iNoUsuario, acuse.toString(), totalDescuento, totalIntereses, 
												totalRecibir, seleccionados, svalorTC, vEpo.get(0).toString(), hidTipoLimite );
												
						String leyendaAcuse = "Al solicitar el factoraje electr&oacute;nico o descuento electr&oacute;nico del documento que selecciono e identifico, "+
							"transmito los derechos que sobre el mismo ejerzo, de acuerdo con lo establecido por los art&iacute;culos 427 de la Ley General de T&iacute;tulos y Operaciones de Cr&eacute;dito, "+
							"32 c del C&oacute;digo Fiscal de la Federaci&oacute;n y 2038 del C&oacute;digo Civil Federal, haci&eacute;ndome sabedor de su contenido y alcance, condicionado a que "+
							"se efect&uacute;e el descuento electr&oacute;nico o el factoraje electr&oacute;nico.<br/>"+
                            "Asimismo, en este acto manifiesto bajo protesta de decir verdad, que s&iacute; he emitido o emitir&eacute; a la Empresa de Primer Orden el CFDI "+
                            "por la operación comercial que le dio origen a esta transacci&oacute;n, seg&uacute;n sea el caso y conforme establezcan las disposiciones fiscales vigentes";
                            
							
							
					
						boolean paramEpoPEF = BeanSeleccionDocumento.parametrizacionEpoPef(sNoEpo);
						List nombreCamposDinamicos = BeanSeleccionDocumento.getNombreCamposDinamicos(sNoEpo);
						String nombreArchivo = "";
						try {
							CreaArchivo archivo = new CreaArchivo();
							nombreArchivo = archivo.nombreArchivo()+".pdf";
							ComunesPDF pdfDoc = new ComunesPDF(2,strDirectorioTemp+nombreArchivo);
							String meses[] = {"Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"};
							String fechaActual  = new java.text.SimpleDateFormat("dd/MM/yyyy").format(new java.util.Date());
							String diaActual    = fechaActual.substring(0,2);
							String mesActual    = meses[Integer.parseInt(fechaActual.substring(3,5))-1];
							String anioActual   = fechaActual.substring(6,10);
							String horaActual  = new java.text.SimpleDateFormat("HH:mm:ss").format(new java.util.Date());
							pdfDoc.encabezadoConImagenes(pdfDoc,(String)session.getAttribute("strPais"),(session.getAttribute("iNoNafinElectronico")==null)?"":session.getAttribute("iNoNafinElectronico").toString(),
													 (String)session.getAttribute("sesExterno"), (String) session.getAttribute("strNombre"), (String) session.getAttribute("strNombreUsuario"),
													 (String)session.getAttribute("strLogo"),strDirectorioPublicacion);
					
							pdfDoc.addText("México, D.F. a "+diaActual+" de "+mesActual+" del "+anioActual+" ----------------------------- "+horaActual,"formas",ComunesPDF.RIGHT);
							if(!"".equals(msgDiaSigHabil)){
								pdfDoc.addText(msgDiaSigHabil,"formas",ComunesPDF.LEFT);
							}
							
							pdfDoc.setTable(2,50);
							pdfDoc.setCell("Cifras de Control","celda01",ComunesPDF.CENTER,2);
							pdfDoc.setCell("Número de Acuse","formas");
							pdfDoc.setCell(acuse.formatear(),"formas",ComunesPDF.RIGHT);
							pdfDoc.setCell("Fecha de Carga","formas");
							pdfDoc.setCell(fecha2.format(new java.util.Date()),"formas",ComunesPDF.RIGHT);
							pdfDoc.setCell("Hora de Carga","formas");
							pdfDoc.setCell(hora.format(new java.util.Date()),"formas",ComunesPDF.RIGHT);
							pdfDoc.setCell("Usuario de Captura","formas");
							pdfDoc.setCell(iNoUsuario + " - " + strNombreUsuario,"formas",ComunesPDF.RIGHT);
							String mensaje =
					
									"Al solicitar el factoraje electrónico o descuento electrónico del documento que selecciono e identifico, transmito "+
									"los derechos que sobre el mismo ejerzo, de acuerdo con lo establecido por los artículos 427 de la Ley General de "+
									"Títulos y Operaciones de Crédito, 32 c del Código Fiscal de la Federación y 2038 del Código Civil Federal, haciéndome "+
									"sabedor de su contenido y alcance, condicionado a que se efectúe el descuento electrónico o el factoraje electrónico.\n"+
                                    " Asimismo, en este acto manifiesto bajo protesta de decir verdad, que sí he emitido o emitiré a la EMPRESA DE PRIMER ORDEN el CFDI  "+
                                    "por la operación comercial que le dio origen a esta transacción, según sea el caso y conforme establezcan las disposiciones fiscales vigentes";
					
							pdfDoc.setCell(mensaje,"celda02",ComunesPDF.LEFT,2);
							pdfDoc.addTable();
						//<%--============================================================================ FODEA 050-2008--
							int columnas = 0;
							if("NAFIN".equals(strTipoUsuario)){
								//if(BeanSeleccionDocumento.parametrizacionEpoPef(epo.substring(0, epo.indexOf("|")))){
								if(paramEpoPEF){
									columnas = 14;
								}else{
									columnas = 10;
								}
							}else{
								if(paramEpoPEF){
									columnas = 13;
								}else{
									columnas = 9;
								}
					
								//List nombreCamposDinamicos = BeanSeleccionDocumento.getNombreCamposDinamicos(sNoEpo);
								//this.getNombreCamposDinamicos(epo.substring(0, epo.indexOf("|")));
								if(!nombreCamposDinamicos.isEmpty()){
									for(int i = 0; i < nombreCamposDinamicos.size(); i++){columnas++;}
								}
							}
					
							pdfDoc.setTable(columnas);
						//<%--============================================================================ FODEA 050-2008--
							pdfDoc.setCell("Cuenta de Deposito","celda01",ComunesPDF.CENTER);				
							pdfDoc.setCell("EPO","celda01",ComunesPDF.CENTER);
							if("NAFIN".equals(strTipoUsuario)){
								pdfDoc.setCell("PYME","celda01",ComunesPDF.CENTER);
							}
							pdfDoc.setCell("Número de Documento","celda01",ComunesPDF.CENTER);
							pdfDoc.setCell("Moneda","celda01",ComunesPDF.CENTER);
							pdfDoc.setCell("Monto Documento","celda01",ComunesPDF.CENTER);
							pdfDoc.setCell("Porcentaje de Descuento","celda01",ComunesPDF.CENTER);
							pdfDoc.setCell("Monto a Descontar","celda01",ComunesPDF.CENTER);
							pdfDoc.setCell("Monto Intereses","celda01",ComunesPDF.CENTER);
							pdfDoc.setCell("Monto a Recibir","celda01",ComunesPDF.CENTER);
						//<%--============================================================================ FODEA 050-2008--
						if("PYME".equals(strTipoUsuario)){
						//List nombreCamposDinamicos = BeanSeleccionDocumento.getNombreCamposDinamicos(sNoEpo);//this.getNombreCamposDinamicos(epo.substring(0, epo.indexOf("|")));
						if(!nombreCamposDinamicos.isEmpty()){
						for(int i = 0; i < nombreCamposDinamicos.size(); i++){
						pdfDoc.setCell((String)nombreCamposDinamicos.get(i),"celda01",ComunesPDF.CENTER);
						}
						}
						}
					
						if(paramEpoPEF){
						pdfDoc.setCell("Fecha Entrega","celda01",ComunesPDF.CENTER);
						pdfDoc.setCell("Tipo Compra","celda01",ComunesPDF.CENTER);
						pdfDoc.setCell("Clave Presupuestaria","celda01",ComunesPDF.CENTER);
						pdfDoc.setCell("Periodo","celda01",ComunesPDF.CENTER);
						}
						//<%--============================================================================ FODEA 050-2008--
							pdfDoc.setHeaders();
							String selec = Comunes.implode("@@",seleccionados);
							Vector vSeleccionados = new Vector();
							vSeleccionados = Comunes.explode("@@",selec);
							String clase = "formas";
							for(int i=0; i < vSeleccionados.size();i++) {
								Vector vDatos = new Vector();
								if(i%5==4)
									clase = "celda02";
								else
									clase = "formas";
								vDatos = Comunes.explode("|",vSeleccionados.get(i).toString());
								pdfDoc.setCell(vicIf.get(1).toString(),clase,ComunesPDF.CENTER);
								pdfDoc.setCell(vEpo.get(1).toString(),clase,ComunesPDF.CENTER);
					
								if("NAFIN".equals(strTipoUsuario)){
									pdfDoc.setCell(sNombrePyme,clase,ComunesPDF.CENTER);
								}
								pdfDoc.setCell(vDatos.get(6).toString(),clase,ComunesPDF.CENTER);
								pdfDoc.setCell(vMoneda.get(1).toString(),clase,ComunesPDF.CENTER);
								pdfDoc.setCell("$ "+Comunes.formatoDecimal(vDatos.get(8)+"", 2),clase,ComunesPDF.CENTER);
								pdfDoc.setCell(Comunes.formatoDecimal(vDatos.get(4),0,false)+" %",clase,ComunesPDF.CENTER);
								pdfDoc.setCell("$ "+Comunes.formatoDecimal(vDatos.get(1)+"", 2),clase,ComunesPDF.CENTER);
								pdfDoc.setCell("$ "+Comunes.formatoDecimal(vDatos.get(2)+"", 2),clase,ComunesPDF.CENTER);
								pdfDoc.setCell("$ "+Comunes.formatoDecimal(vDatos.get(3)+"", 2),clase,ComunesPDF.CENTER);
						//<%--============================================================================ FODEA 050-2008--
						if("PYME".equals(strTipoUsuario)){
						//List nombreCamposDinamicos = this.getNombreCamposDinamicos(epo.substring(0, epo.indexOf("|")));
						//List valoresCamposDinamicos = this.getValoresCamposDinamicos((String)vDatos.get(0), epo.substring(0, epo.indexOf("|")), iNoCliente);
						List valoresCamposDinamicos = BeanSeleccionDocumento.getValoresCamposDinamicos((String)vDatos.get(0), sNoEpo, iNoCliente);
						if(!nombreCamposDinamicos.isEmpty() && !valoresCamposDinamicos.isEmpty()){
							for(int j = 0; j < nombreCamposDinamicos.size(); j++){
								pdfDoc.setCell((String)valoresCamposDinamicos.get(j),clase,ComunesPDF.CENTER);
							}
						}
						}
					
						if(paramEpoPEF){
						List valoresEpoPef = BeanSeleccionDocumento.valoresEpoPef((String)vDatos.get(0), sNoEpo, iNoCliente);
						if(valoresEpoPef.size() > 0){
						pdfDoc.setCell((String)valoresEpoPef.get(0),clase,ComunesPDF.CENTER);
						pdfDoc.setCell((String)valoresEpoPef.get(1),clase,ComunesPDF.CENTER);
						pdfDoc.setCell((String)valoresEpoPef.get(2),clase,ComunesPDF.CENTER);
						pdfDoc.setCell((String)valoresEpoPef.get(3),clase,ComunesPDF.CENTER);
						}else{
						pdfDoc.setCell(" ",clase,ComunesPDF.CENTER);
						pdfDoc.setCell(" ",clase,ComunesPDF.CENTER);
						pdfDoc.setCell(" ",clase,ComunesPDF.CENTER);
						pdfDoc.setCell(" ",clase,ComunesPDF.CENTER);
						}
						}
						//<%--============================================================================ FODEA 050-2008--
							}
							pdfDoc.addTable();
					
							if("NAFIN".equals(strTipoUsuario)){
								pdfDoc.setTable(6,50);
								pdfDoc.setCell("","celda01",ComunesPDF.CENTER,2);
								pdfDoc.setCell(vMoneda.get(1).toString(),"celda01",ComunesPDF.CENTER,4);
							}else{
								pdfDoc.setTable(5,50);
								pdfDoc.setCell("","celda01",ComunesPDF.CENTER,1);
								pdfDoc.setCell(vMoneda.get(1).toString(),"celda01",ComunesPDF.CENTER,4);
							}
					
							pdfDoc.setCell("E P O  -  DATOS","formasB",ComunesPDF.CENTER);
							if("NAFIN".equals(strTipoUsuario)){
								pdfDoc.setCell("PYME","formasB",ComunesPDF.CENTER);
							}
							pdfDoc.setCell("Total Monto Documento","formasB",ComunesPDF.CENTER);
							pdfDoc.setCell("Total Monto Descuento","formasB",ComunesPDF.CENTER);
							pdfDoc.setCell("Total Monto de Interés","formasB",ComunesPDF.CENTER);
							pdfDoc.setCell("Total Importe a Recibir","formasB",ComunesPDF.CENTER);
					
							pdfDoc.setCell(vEpo.get(1).toString(),"formas",ComunesPDF.CENTER);
							if("NAFIN".equals(strTipoUsuario)){
									 pdfDoc.setCell(sNombrePyme,"formas",ComunesPDF.CENTER);
							}
							pdfDoc.setCell("$ "+Comunes.formatoDecimal(totalMonto, 2),"formas",ComunesPDF.CENTER);
							pdfDoc.setCell("$ "+Comunes.formatoDecimal(totalDescuento, 2),"formas",ComunesPDF.CENTER);
							pdfDoc.setCell("$ "+Comunes.formatoDecimal(totalIntereses, 2),"formas",ComunesPDF.CENTER);
							pdfDoc.setCell("$ "+Comunes.formatoDecimal(totalRecibir, 2),"formas",ComunesPDF.CENTER);
							pdfDoc.addTable();

							pdfDoc.endDocument();
							//validaFact = true;
							jsonObj.put("urlArchivo", strDirecVirtualTemp+nombreArchivo);
							
						} catch (Exception e) {
							System.out.println("Exception: " + e.getCause());// Debug info
							e.printStackTrace();
						}
						
						if("NAFIN".equals(strTipoUsuario)){ //Se localiza el correo electronico del proveedor
							String cuenta = "";
							UtilUsr usuario = new UtilUsr();
							/*List cuentas = usuario.getUsuariosxAfiliado(iNoCliente, "P");
							Iterator itCuentas = cuentas.iterator();
							
							if (itCuentas.hasNext()) {
								cuenta = (String) itCuentas.next();
							}*/
							cuenta = request.getParameter("strUsr")==null?"":request.getParameter("strUsr");
							correo="S";
							Usuario user = new Usuario(); 
							user = usuario.getUsuario(cuenta);
							email = user.getEmail();
						}
						
						
						if(correo.equals("S")){//se generará el archivo pdf para enviarlo por correo
							System.out.println("Se enviara correo::: "+strNombre);
							String cuerpoCorreo = ((!"NAFIN".equals(strTipoUsuario))?"Estimado(a): " + strNombre:"Estimado(a) usuario(a) de Cadenas Productivas NAFIN" ) + "\n\n" +
										"La(s) siguiente(s) operacion(es) ha(n) sido registrada(s) en el servicio de Cadenas Productivas de " +
										"Nacional Financiera,S.N.C. por internet:\n\n" ;
							if(!"".equals(msgDiaSigHabil)){//FOEDA 005-2009 FVR - INICIO
								cuerpoCorreo +="\tProgramado para el dia "+fecDiaSigHabil+
										"\n\n Se anexa archivo de ACUSE DE RECIBO.\n\n" +
										"Atentamente \n\n Nacional Financiera, S.N.C.";
							}else{
								cuerpoCorreo +="\tOperado(s) el dia " + fecha2.format(new java.util.Date()) +" a las " + hora.format(new java.util.Date()) + " horas " +
										"\n\nNota: la fecha y hora de este mensaje ('Enviado el') podra variar respecto a la fecha/hora real de operacion de su " +
										"transaccion ('Operado el').  Esto dependera de la configuracion de sus servicios de correo y/o computadora en " +
										"cuanto a su zona horaria.\n\n Se anexa archivo de ACUSE DE RECIBO.\n\n" +
										"Atentamente \n\n Nacional Financiera, S.N.C.";
							}
							try{
								//email = "abautista@servicio.nafin.gob.mx"; //Esta línea es para hacer mis pruebas en desarrollo
								CorreoArchivoAdjunto.AttachFile("cadenas@nafin.gob.mx",email,"Documentos a descontar",cuerpoCorreo,nombreArchivo,strDirectorioTemp);
							}catch(Exception e){
								System.out.println("Exception: CorreoArchivoAdjunto.AttachFile ");// Debug info
								e.printStackTrace();
							}
						}
						
						jsonObjCifras.put("numAcuse",acuse.formatear());
						jsonObjCifras.put("fecCarga",fecha2.format(new java.util.Date()));
						jsonObjCifras.put("horaCarga",hora.format(new java.util.Date()));
						jsonObjCifras.put("captUser",iNoUsuario + " - " + ("NAFIN".equals(strTipoUsuario)?"Administrador NAFIN":strNombreUsuario));
						
						jsonObj.put("leyendaAcu",leyendaAcuse);
						jsonObj.put("objCifras",jsonObjCifras.toString());
						
					} catch(NafinException ne3) {
						ne3.printStackTrace();
						if("PYME".equals(strTipoUsuario)){
							 msgError = "No tiene Linea de Fondeo disponible con el Intermediario Seleccionado , contacte al Administrador del Sistema";
						}else{
							msgError =  ne3.getMsgError();
						}
					}
					//(Try La autenticacion y mancomunación)
					jsonObj.put("esCveCorrecta",new Boolean(true));
				} catch (NafinException  ne2) {
					System.out.println("ne2.getMsgError()ne2.getMsgError()=="+ne2.getMsgError());
					ne2.printStackTrace();
					jsonObj.put("esCveCorrecta",new Boolean(false));
					msgError =  ne2.getMsgError();
				}
			
			
		}else{
			msgError = "La confirmación de la clave y contraseña es incorrecta, el proceso ha sido cancelado";
			jsonObj.put("esCveCorrecta",new Boolean(false));
		}
	}
	
	jsonObj.put("msgError",msgError);
	jsonObj.put("success",new Boolean(true));
	infoRegresar = jsonObj.toString();
} else if (informacion.equals("obtenNotaSimple")){

	JSONObject jsonObj = new JSONObject();
	String		icDoctos[]	= request.getParameterValues("icDocto");
	String		icNotas[]	= request.getParameterValues("icNotas");
	NotaCredito nota = new NotaCredito();
	Registros reg = nota.getDatosNotas(icDoctos,icNotas);
	infoRegresar = "{\"success\": true, \"total\": "+ reg.getNumeroRegistros()+" , \"registros\": " + reg.getJSONData() + " }";
/*	jsonObj.put("success",new Boolean(true));
	if (reg != null){
		jsonObj.put("registros",reg.getJSONData());
	}
	infoRegresar = jsonObj.toString();
*/
} else if (informacion.equals("obtenNotaVarias")){

	ArrayList lista = null;
	String 	searchNotaAplicada  				= (request.getParameter("searchNotaAplicada")	== null)?"":request.getParameter("searchNotaAplicada");
	String 	icNotaCredito  					= (request.getParameter("icNotaCredito")			== null)?"":request.getParameter("icNotaCredito");
	boolean 	buscarNotaDeCreditoAplicada 	= searchNotaAplicada.equals("true")?true:false;
	String 	searchNotasAplicadasADocto		= (request.getParameter("searchNotasDocto")		== null)?"":request.getParameter("searchNotasDocto");
	String 	icDocumento							= (request.getParameter("icDocumento")				== null)?"":request.getParameter("icDocumento");
	boolean 	buscarNotasAplicadasADocto		= searchNotasAplicadasADocto.equals("true")?true:false;
	String 	searchNotasAplicadasADoctos	= (request.getParameter("searchNotasDoctos")		== null)?"":request.getParameter("searchNotasDoctos");
	String 	icDocumentos[]						= (request.getParameterValues("claveDocumento")	== null)?null:request.getParameterValues("claveDocumento");
	boolean 	buscarNotasAplicadasADoctos	= searchNotasAplicadasADoctos.equals("true")?true:false;

	NotaCredito clase_nota = new NotaCredito();
	
	// CONSULTAR DETALLE NOTA DE CREDITO QUE YA HA SIDO APLICADA
	if(buscarNotaDeCreditoAplicada){
		lista = (ArrayList)clase_nota.getDetalleNotaAplicada(icNotaCredito);
	// CONSULTAR QUE NOTAS SE APLICARON AL DOCUMENTO
	}else if(buscarNotasAplicadasADocto){
		// Obtener notas de credito donde aparece el documento
		ArrayList listaIdsNotasDeCredito = (ArrayList) clase_nota.getNotasDeCredito(icDocumento);
		// Obtener lista con las notas de credito a mostrar
		lista = (ArrayList) clase_nota.getDetalleNotaAplicada(listaIdsNotasDeCredito);
	// CONSULTAR QUE NOTAS SE APLICARON A LOS DOCUMENTOS
	}else if(buscarNotasAplicadasADoctos){
		// Obtener notas de credito donde aparece el documento
		ArrayList listaIdsNotasDeCredito = (ArrayList) clase_nota.getNotasDeCredito(icDocumentos);
		// Obtener lista con las notas de credito a mostrar
		lista = (ArrayList) clase_nota.getDetalleNotaAplicada(listaIdsNotasDeCredito);
	// TOMAR DETALLE DE SESION DE LAS NOTAS DE CREDITO QUE SERAN APLICADAS
	}else{
		lista = (ArrayList)	session.getAttribute("listaNotasCreditoMultiple");
		lista = lista != null?lista:new ArrayList();
	}

	// 1. OBTENER LISTA DE LAS NOTAS DE CREDITO 
	HashSet listaClavesNotas = new HashSet();
	for(int k=0;k<lista.size();k++){
		NotaCreditoMultiple n = (NotaCreditoMultiple)lista.get(k);
		listaClavesNotas.add(n.getIcNotaCredito());
	}
	// Construir lista con las claves de las Notas de Credito a consultar
	String listaNotasDeCredito = "";
	Iterator it = listaClavesNotas.iterator();
	for (int k = 0; it.hasNext(); k++) {
		if(k>0){
			listaNotasDeCredito += ",";
		}
		listaNotasDeCredito += it.next();
	}
	// 2. OBTENER LISTA DE LOS DOCUMENTOS 
	HashSet listaClavesDocumentos = new HashSet();
	for(int k=0;k<lista.size();k++){
		NotaCreditoMultiple n = (NotaCreditoMultiple)lista.get(k);
		listaClavesDocumentos.add(n.getIcDocumento());
	}
	// Construir lista con las claves de los Documentos a consultar
	String listaDocumentos = "";
	it = listaClavesDocumentos.iterator();
	for (int k = 0; it.hasNext(); k++) {
		if(k>0){
			listaDocumentos += ",";
		}
		listaDocumentos += it.next();
	}
	// 3. OBTENER MONTOS DE LAS NOTAS DE CREDITO 
	HashMap notasCredito = clase_nota.getDatosNotasCredito(listaClavesNotas);
	// 4. OBTENER DATOS ADICIONALES DE LOS DOCUMENTOS 	
	HashMap documentos 	= clase_nota.getDatosDocumentos(listaClavesDocumentos);

	String montoAplicado		= "";
	String saldoDocto			= "";

	List reg = new ArrayList();
	for(int i=0;i<lista.size();i++){

		NotaCreditoMultiple n = (NotaCreditoMultiple)lista.get(i);
		HashMap hash = new HashMap();
		String nota = clase_nota.getPropiedad(n.getIcNotaCredito(),"IG_NUMERO_DOCTO",notasCredito);
		String monto = clase_nota.getPropiedad(n.getIcNotaCredito(),"FN_MONTO",notasCredito);
		hash.put("IG_NUMERO_DOCTO_CREDITO",	nota);
		hash.put("IG_NUMERO_DOCTO_DOCTO",	clase_nota.getPropiedad(n.getIcDocumento(),"IG_NUMERO_DOCTO",documentos));
		hash.put("FECHA_EMISION",				clase_nota.getPropiedad(n.getIcDocumento(),"FECHA_EMISION",documentos));
		hash.put("FN_MONTO",						monto);
		hash.put("MONEDA",						clase_nota.getPropiedad(n.getIcDocumento(),"MONEDA",documentos));
		hash.put("TIPO_FACTORAJE",				clase_nota.getPropiedad(n.getIcDocumento(),"TIPO_FACTORAJE",documentos));
		montoAplicado		= (new java.math.BigDecimal(n.getMontoNotaAplicado())).toPlainString();
		saldoDocto			= (new java.math.BigDecimal(n.getSaldoDocto())).toPlainString();
		hash.put("MONTO_APLICA",				(montoAplicado).toString());
		hash.put("SALDO_DOCTO",					(saldoDocto).toString());
		hash.put("MONTO_DOCTO",					Double.toString(Double.parseDouble(montoAplicado) + Double.parseDouble(saldoDocto)));
		hash.put("NOTA_MONTO_CONCAT",	nota + " - Monto: $" + monto);
		reg.add(hash);
	}

	JSONArray jsObjArray = new JSONArray();
	jsObjArray = JSONArray.fromObject(reg);
	infoRegresar = "{\"success\": true, \"total\": "+ jsObjArray.size()+" , \"registros\": " + jsObjArray.toString() + " }";
}

}catch(Throwable t){
t.printStackTrace();
throw t;
}finally{
System.out.println("infoRegresar = " + infoRegresar);
}
%>


<%=infoRegresar%>