.accordion_headings{
	background-color: #056f87;	/* Color de elementos menu lateral*/
	cursor: hand;
	height:28px;
	width:212px;
	padding-bottom: 2px; /*bottom spacing between menu items*/
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 0px;
	color: #FFFFFF;			/* Color del texto de elementos menu lateral*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-left-radius: 7px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	margin-top: 5px;
}

.accordion_child{
	padding:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #ACD8E3;	/* Color de submenus del menu lateral */
	text-decoration: none;
	border-bottom-right-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
}

#basic-accordian ul li a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #027CA3;		/* Color de las ligas en el menu lateral */
	text-decoration: none;
	font-weight: bold;
	line-height: 13px;
}


#abrirMenuLateral{
	background-color: #056f87; /* Color de boton abrir Menu Lateral*/
	width: 30px;
	color:#FFFFFF; 
	text-align: right; 
	border-radius: 3px; 
	font-family: Calibri; 
	font-size:14px;
	font-weight: bold; 
	cursor: pointer;
	margin: 2px;
}

#cerrarMenuLateral{
	background-color: #056f87; /* Color de boton cerrar Menu Lateral*/
	float: right;
	width: 30px;
	color:#FFFFFF; 
	text-align: left; 
	border-radius: 3px; 
	font-family: Calibri; 
	font-size:14px;
	font-weight: bold; 
	cursor: pointer;
	margin: 2px;
}

.bannerSeccion {
	background-color: #056f87;
}

.bannerItem .title {
    color:#000000;
    font-size:10px;
}

.bannerItem .subtitle {
    color:#D2D2D2;
    font-size:11px;
    height:30px;
}
