@charset "UTF-8";
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}img,body,html{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}

h1{
	color: black; 
	font-size: 13px; 	
	width: 100%;
   text-align: center;
	font-weight: bold; 
	font-family: arial, helvetica, sanserif; 
	font-style: normal; 
	line-height: 110%;
}

table {
  width: 99%;
  text-align: left;
  font-size: 11px;
  font-family: arial, helvetica, sanserif;
  border: 1px solid #d0d0d0;
  border-collapse: collapse;
}

table th {
  padding: 4px 3px 4px 5px;
  border: 1px solid #d0d0d0;
  border-left-color: #eee;
  font-weight: bold; 
  background-color: #ededed;
}

table td {
  padding: 4px 3px 4px 5px;
  border-style: none solid solid;
  border-width: 1px;
  border-color: #ededed;
}