BODY
{
  background-color: #E0E0E0;
} 



.MarcaBody
{
  border: 1px ridge  
} 


.Titulo
{
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}


.Etiketas
{
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 9px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}



   <!-- // Estilos de Tabla -->

.EncabezadoTabla
{
    COLOR: #FFFFFF;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 9px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}


.ColorCabecera
{
  background-color: #000066;
} 


.Dato1
{
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 9px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}


.Dato2
{
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 9px;
    TEXT-DECORATION: none
}
