
html,body {
    padding:0px;
    margin:0px;
    min-height:100%;
    height:100%;
    width:100%;
}

#body {
    background: white url(../img/background.jpg) repeat-x;
    font-family:Calibri;
    color:#585858;
    line-height:1.2;
}

#wrapper {
    background:url(../img/wrapper.png) -11px 0px  repeat-y;
    min-height:600px;
    width:1024px;
    margin:0px auto;
}

#footer_bottom {
    margin:0px auto;
    height:90px;
    background: url(../img/back_footer.png) -11px 0px no-repeat;
    width:1024px;
}

.footer_white {
    background: white;
    width:950px;
    margin:0px auto;
    height:100px;
}

.footer_white .actualizacion {
    float:right;
    font-size:10px;
    padding:25px 10px 0px 10px;
}

.footer_white .menu_inferior {
    font-size:11px;
    padding:25px 0px 0px 10px;
    float:left;
}

.footer_white .menu_inferior  a {
    text-decoration:none;
    padding:0px 10px;
}

#container {
    margin:0px auto;
    min-height:600px;
    padding:10px 0px 0px 0px;
    background: white url(../img/back_container.jpg) 0px 143px  repeat-x;
    width:950px;
    clear:both;
}

#header {
    clear:both;
    overflow:hidden;
    height:164px;
}

#footer {
    height:90px;
}

#footer .enlaces span {
    color:#76746e;
    display:block;
    padding:6px 30px;
    font-size:13px;
    text-align:right;
}

#footer .copyright span {
    color:white;
    display:block;
    padding:10px 0px 10px 20px;
    font-size:11px;
    text-align:left;
}

#footer .copyright {
    background:#4c4c4c;
    font-size:13px;
    float:left;
    clear:left;
    width:892px;
    height:33px;
}

#footer .enlaces {
    background:#dad7d0;
    width:892px;
    height:25px;
    float:left;
    clear:left;
}

#footer .logo {
    float:right;
    clear:right;
    background:  url(../img/escudo.jpg) no-repeat;
    height:58px;
    width:58px;
}

#logo {
    background:  url(../img/logo.jpg) no-repeat;
    position:relative;
    height:164px;
    width:270px;
}

#buscar {
    background: url(../img/back_search.png) -3px -1px no-repeat;
    height:100px;
    width:480px;
}

#menu {
    width:510px;
    float:left;
    height:27px;
    margin-top:18px;
    overflow:hidden;
}

#menu ul {
    padding:0px;
    margin:0px;
    width:510px;
    
}

#menu li.first {
    width:60px;
}

#menu li:hover,#menu li.active {
    color:#23869f;
}

#menu li {
    list-style:none;
    cursor:pointer;
    text-transform:uppercase;
    float:left;
    font-size:13px;
    height:27px;
    width:110px;
    position:relative;
}

#menu a {
    position:absolute;
    height:100%;
    width:100%;
    text-align:center;
    line-height:14px;
    text-decoration:none;
    color:inherit;
}

#menu a.middle {
    padding:7px 0px;
}

#contactanos {
    float:right;
    width:170px;
    height:64px;
        color:#23869f;
    /*
    font-size:12px;
    */
    font-size:14px;
    text-align:right;
    text-align:center;
}

#logo_cliente {
    float:right;
    width:170px;
    height:100px;
    overflow:hidden;
    text-align:center;
}

#content {
    position:relative;
    min-height:400px;
    height:400px;
    overflow:hidden;
}

/* estilo home content*/

.menu_izquierdo ,.slider , .detalle , .banner {
    position:absolute;
}

.slider{
    right:0px;
    top:0px;
    width:710px;
    height:355px;
}

.menu_izquierdo {
    left:0px;
    top:0px;
    width:240px;
    height:335px;
    overflow:hidden;
	 position: relative;
}

.banner {
    right:0px;
    bottom:0px;
    width:210px;
    height:240px;
    top:160px;
    background:url(../img/back_banner.png) -3px -2px;
}

.banner .item {
    margin:6px;
    font-size:12px;
    cursor:pointer;
}

.banner .item .title {
    display:block;
    padding:3px 0px;
    height:25px;
}

.banner .item .subtitle {
    color:#a2a2a2;
    font-size:13px;
    height:30px;
}

.banner .list {
    text-align:center;
}

.banner .list .num {
    width:20px;
    cursor:pointer;
    margin-right:5px;
    padding:3px 6px;
    text-align:center;
    color:white;
    background: url(../img/dot.png) no-repeat;
}

.num {
    font-size:15px;
}

.detalle {
    position: relative;
	 top: 0px;
	 left: 0px;
	 height: auto;
	 width: 500px;
    background:white;
    opacity:0.8;
    filter:alpha(opacity=80);
    padding-bottom: 100px;
/*    left:240px;
    height:150px;
    width:501px;
    top:168px;
    background:white;
    opacity:0.8;
    filter:alpha(opacity=80);
*/
}

.detalle span.title {
    padding:10px 20px 0px 20px;
    display:block;
    font-weight:bold;
}

.detalle ul li {
    font-size:13px;
    list-style-image:url(../img/dot_thin.png);
}

.detalle ul {
    padding:0px 0px 0px 35px;
    margin:0px;
}

.contenido_banner {
    min-height:355px;
    position:relative;
}

.texto_banner {
    position:absolute;
    top:140px;
    left:0px;
    right:0px;
    width:720px;
    background:white;
    height:205px;
    opacity:0.8;
    filter:alpha(opacity=80);
    overflow:hidden;
}

.texto_banner h3 {
    color:#006983;
    font-size:16px;
    padding:10px 10px 0px 20px;
}

.scroll_banner {
    position:absolute;
    top:148px;
    left:695px;
    height:205px;
    width:20px;
}

.scroll_container {
    height:100%;
    width:100%;
    position:relative;
}

.scroll_container span.up {
    background: url(../img/scroll_up.png) no-repeat;
}

.scroll_container span.down {
    background: url(../img/scroll_down.png) no-repeat;
    bottom:0px;
}

.scroll_container span {
    display:block;
    position:absolute;
    width:100%;
    height:30px;
    background:brown;
    cursor:pointer;
}

.texto_banner p {
    font-size:14px;
    color:#373737;
    padding:1px 10px 0px 20px;
}

.texto_banner * {
    margin:0px;
}

/* estilo formulario busqueda */

.buscar {
    font-size:14px;
}

.buscar label {
    display:block;
    float:left;
    width:162px;
    margin:0px 0px 0px 32px;
    padding:10px 0px 0px 0px;
    color:white;
}

.buscar a {
    color:#056f87;
}

.buscar input[type="password"] {
    float:left;
    border:0px solid white;
    width:170px;
    margin:-4px 0px 0px 17px;
    padding:0px 0px 0px 7px;
    height:20px;
    background:url(../img/back_text.png) -6px 0px no-repeat;
}

.buscar input[type="text"] {
    float:left;
    padding:0px 0px 0px 7px;
    border:0px solid white;
    width:170px;
    margin:-4px 0px 0px 32px;
    height:20px;
    background:url(../img/back_text.png) -6px 0px no-repeat;
}

.buscar input[type="submit"] {
    background:none;
    text-decoration:underline;
    border:0px solid white;
    margin:-3px 0px 0px 0px;
    color:white;
    float:left;
}

/**/
#contactanos  span {
    display:block;
    font-size:12px;
    float:left;
    width:110px;
    padding:6px 0px;
    display: table-cell;
    vertical-align:middle;
}

#contactanos .aChat {
    display:block;
    float:left;
    background:url(../img/chat.png);
    background-size: 100% auto;
    text-decoration:none;
    width:25px;
    height:25px;
    margin:3px 2px;
}
#contactanos .aTwitter {
    display:block;
    float:left;
    background:url(../img/twitter.png);
    text-decoration:none;
    width:25px;
    height:25px;
    margin:3px 2px;
}
#contactanos .aFacebook {
    display:block;
    float:left;
    background:url(../img/fb.png);
    text-decoration:none;
    width:25px;
    height:25px;
    margin:3px 2px;
}

/**/

.form_buscar {
    height:50px;
}

.links_buscar {
    height:40px;
}

.links_buscar a {
    margin:0px 5px;
    display:block;
    float:left;
    font-size:12px;
}

.links_buscar span {
    background: url(../img/back_01800.png) no-repeat -2px 2px;
    margin:0px 0px 0px 33px;
    padding:9px 22px 5px 22px;
    color:#23869f;
    font-size:14px;
    display:block;
    float:right;
}

/* submenus */
.submenu {
    font-size:13px;
}

div.submenu  {
    padding:20px 5px 30px 5px;
    height: auto;
    overflow:hidden;
    position:relative;
    color:#547881;
}

.submenu div.border {
    background: url(../img/back_submenu.png) bottom left repeat-x;
}

.submenu div {
    padding:0px;
    height:40px;
    cursor:pointer;
    margin:0px 0px 15px 0px;
    color:#5e8088;
    position: relative;
}

.submenu div span.submenu_pymes:hover {
    color:#0b5e66;
    background:url(../img/back_submenu_pymes_active.png) no-repeat left top;
}

.submenu div span.submenu_pymes.active {
    background:url(../img/back_submenu_pymes_active.png) no-repeat left top;
    color:#0b5e66;
}

.submenu div span.submenu_pymes {
    background:url(../img/back_submenu_pymes.png) no-repeat left top;
    padding:0px 0px 0px 40px;
    display:block;
    clear:both;
    height: 40px;
}

.submenu.pymes div {
    list-style: url(../img/li-pymes.png);
}

.submenu div span.submenu_empresa:hover {
    color:#0b5e66;
    background:url(../img/back_submenu_empresa_active.png) no-repeat -7px -3px;
}

.submenu div span.submenu_empresa.active {
    background:url(../img/back_submenu_empresa_active.png) no-repeat -7px -3px;
    color:#0b5e66;
}

.submenu div span.submenu_empresa {
    background:url(../img/back_submenu_empresa.png) no-repeat -7px -3px;
    padding:0px 0px 0px 40px;
    display:block;
    clear:both;
}

.submenu.empresa div {
    list-style: url(../img/li-empresa.png);
}

.submenu div span.submenu_gobierno:hover {
    color:#0b5e66;
    background:url(../img/back_submenu_gobierno_active.png) no-repeat -2px 0px;
}

.submenu div span.submenu_gobierno.active {
    background:url(../img/back_submenu_gobierno_active.png) no-repeat -2px 0px;
    color:#0b5e66;
}

.submenu div span.submenu_gobierno{
    background:url(../img/back_submenu_gobierno.png) no-repeat -2px -5px;
    padding:0px 0px 0px 40px;
    display:block;
    clear:both;
}

.submenu.gobierno div {
    list-style: url(../img/li-gobierno.png);
}

.submenu div span.submenu_intermediarios:hover {
    color:#0b5e66;
    background:url(../img/back_submenu_intermediarios_active.png) no-repeat 0px -5px;
}

.submenu div span.submenu_intermediarios.active {
    background:url(../img/back_submenu_intermediarios_active.png) no-repeat 0px -5px;
    color:#0b5e66;
}

.submenu div span.submenu_intermediarios{
    background:url(../img/back_submenu_intermediarios.png) no-repeat 0px -8px;
    padding:0px 0px 0px 40px;
    display:block;
    clear:both;
}

.submenu.intermediarios div {
    list-style: url(../img/li-intermediarios.png);
}

span.new {
    background:url(../img/new.png) no-repeat;
    display:block;
    float:right;
    margin:0px;
    width:55px;
}

.marquee li {
    position:absolute;
    left:0px;
    width:230px;
    padding:52px 0px;
    text-align:center;
    color:#33a4b1;
}

/* estilos generales */
.title {
    color:#006983;
    font-size:16px;
}

.left {
    float:left;
}

.clear {
    clear:both;
    overflow:auto;
}

.border_right {
    border-right:1px solid #565656;
}

.text_scroll {
    
}

.alpha{
    opacity:0.3;
    filter:alpha(opacity=30);
}