		.negritas .x-form-display-field {
			font-weight: bold;
		}
		.correcto {
			background-image: url(../gif/accept.png);
			height: 16px;
			width: 16px;
		}
		.borrar {
			background-image: url(../gif/delete.png);
			height: 16px;
			width: 16px;
		}
		.aceptar {
			background-image: url(../gif/add.png);
			height: 16px;
			width: 16px;
		}
		.autorizar {
			background-image: url(../gif/file_add.png);
			height: 16px;
			width: 16px;
		}
		.modificar {
			background-image: url(../gif/page_edit.png);
			height: 16px;
			width: 16px;
		}
		.enviar {
			background-image: url(../gif/forward.png);
			height: 16px;
			width: 16px;
		}
		.upload-icon {
			background-image: url(../extjs/file_add.png);
			height: 16px;
			width: 16px;
		}
		.icoAceptar {
			background-image: url(../gif/accept.png);
			height: 16px;
			width: 16px;
		}
		.icoAgregar {
			background-image: url(../gif/add.png);
			height: 16px;
			width: 16px;
		}
		.icoPalomaRoja {
			background-image: url(../gif/paloma.gif);
			height: 16px;
			width: 16px;
		}
		.icoRechazar {
			background-image: url(../gif/rechazar.png);
			height: 16px;
			width: 16px;
		}
		.icoEliminar{
			background-image: url(../gif/delete.png);
			height: 16px;
			width: 16px;
		}
		.iconoLupa {
			background-image: url(../gif/zoom.png);
			height: 16px;
			width: 16px;
		}
		.icoLupa {
			background-image: url(../gif/zoom.png);
			height: 16px;
			width: 16px;
		}
		.icoCancelar {
			background-image: url(../gif/cancelar.png);
			height: 16px;
			width: 16px;
		}
		.icoActualizar {
			background-image: url(../gif/actualizar.png);
			height: 16px;
			width: 16px;
		}

		.icoContinuar{
			background-image: url(../gif/icoContinuar.png);
			height: 16px;
			width: 16px;
		}
		.icoGuardar {
			background-image: url(../gif/disk.png);
			height: 16px;
			width: 16px;
		}
		.icoGuardarb {
			background-image: url(../gif/diskb.png);
			height: 16px;
			width: 16px;
		}
		.icoBuscar {
			background-image: url(../gif/zoom.png);
			height: 16px;
			width: 16px;
		}
		.icoLimpiar {
			background-image: url(../gif/page_white_swoosh.png);
			height: 16px;
			width: 16px;
		}
		.icoPdf {
			background-image: url(../gif/page_white_acrobat.png);
			height: 16px;
			width: 16px;
		}
		.icoXls {
			background-image: url(../gif/page_white_excel.png);
			height: 16px;
			width: 16px;
		}
		.icoDoc {
			background-image: url(../gif/page_white_word.png);
			height: 16px;
			width: 16px;
		}
		.icoPpt {
			background-image: url(../gif/page_white_powerpoint.png);
			height: 16px;
			width: 16px;
		}
		.icoMedCerrarMenu {
			background-image: url(../gif/leftarrow.png);
			height: 22px;
			width: 22px;
		}
		.icoMedAbrirMenu {
			background-image: url(../gif/rightarrow.png);
			height: 22px;
			width: 22px;
		}
		.icoMostrarDatos {
			background-image: url(../gif/identity.png);
			height: 22px;
			width: 22px;
		}
		.icoAyuda {
			background-image: url(../gif/ihelp.gif);
			height: 32px;
			width: 32px;
		}
		.icoZip {
			background-image: url(../gif/page_white_compressed.png);
			height: 16px;
			width: 16px;
		}
		.icoModificar {
			background-image: url(../gif/page_edit.png);
			height: 16px;
			width: 16px;
		}
		.icoRefrescar {
			background-image: url(../gif/arrow_refresh.png);
			height: 16px;
			width: 16px;
		}
		.validarCuenta {
			background-image: url(../gif/validar.png);
			height: 16px;
			width: 16px;
		}
		.invalidarCuenta {
			background-image: url(../gif/invalidar.png);
			height: 16px;
			width: 16px;
		}
		.eliminarCuenta {
			background-image: url(../gif/tirar.png);
			height: 16px;
			width: 16px;
		}
		.cancelar {
			background-image: url(../gif/cancelar.png);
			height: 16px;
			width: 16px;
		}
		.x-tool-ayudaLayout {
			background-image: url(../gif/ayudaLayout.png) !important;
		}
		.rechazar {
			background-image: url(../gif/rechazar.gif);
			height: 16px;
			width: 16px;
		}
		.icon-register-edit   {
			background-image: url(../gif/register-edit.gif   ) !important;
		}
		.icon-register-add    {
			background-image: url(../gif/register-add.gif    ) !important;
		}
		.icon-register-delete {
			background-image: url(../gif/register-delete.gif ) !important;
		}
		.correo {
			background-image: url(../gif/email.png);
			height: 16px;
			width: 16px;
		}
		.vacio {
			background-image: url(../gif/vacio.gif);
			height: 16px;
			width: 16px;
		}
		.icoTxt {
			background-image: url(../gif/ltxt.gif);
			height: 16px;
			width: 16px;
		}
		.icoTxt16 {
			background-image: url(../gif/ltxt16x16.gif);
			height: 16px;
			width: 16px;
		}
		.extraerDetalle {
			background-image: url(../gif/extraer.png) !important; 
			height: 16px;
			width: 16px;
		}
		.realizandoActividad {
			background-image: url(../gif/realizandoActividad.gif) !important; 
			height: 16px;
			width: 16px;
		}
		.icoImprimir {
			background-image: url(../gif/imprimir.png) !important; 
			height: 16px;
			width: 16px;
		}
		a.x-tool-ayudaLayout {
			background-image: url(../gif/toolAyudaLayout.png)!important;
			background-position:0 -0;
		} 
		a.x-tool-ayudaLayout:hover {
			background-image: url(../gif/toolAyudaLayout.png)!important;
			background-position:-15px 0;
		} 
		.icoBloqueado {
			background-image: url(../gif/bloqueado.png) !important; 
			height: 16px;
			width: 16px;
		}
		.icoImagen {
			background-image: url(../gif/imagen.png) !important; 
			height: 16px;
			width: 16px;
		}
		.icoDeshacer {
			background-image: url(../gif/arrow_undo.png) !important; 
			height: 16px;
			width: 16px;
		}
		.icoValidar {
			background-image: url(../gif/validar.png);
			height: 16px;
			width: 16px;
		}
		.icoInvalidar {
			background-image: url(../gif/delete.gif);
			height: 16px;
			width: 16px;
		}
		.icoConfigurar {
			background-image: url(../gif/configurar.png);
			height: 16px;
			width: 16px;
		}
		.icoEditarForma {
			background-image: url(../gif/application_form_edit.png);
			height: 16px;
			width: 16px;
		}
		.icoAgregarForma {
			background-image: url(../gif/application_form_add.png);
			height: 16px;
			width: 16px;
		}
		.icoAutorizar {
			background-image: url(../gif/autorizar.png);
			height: 16px;
			width: 16px;
		}
		.icoRegresar {
			background-image: url(../gif/regresar.png);
			height: 16px;
			width: 16px;
		}
		.icoEliminar {
			background-image: url(../gif/tirar.png);
			height: 16px;
			width: 16px;
		}
		.icoGenerarPDF {
			background-image: url(../gif/generate_pdf.png);
			height: 16px;
			width: 16px;
		}
		.icoGenerarDOCX {
			background-image: url(../gif/generate_doc.png);
			height: 16px;
			width: 16px;
		}
		.icoGenerarXls {
			background-image: url(../gif/generate_xls.png);
			height: 16px;
			width: 16px;
		}
		.icoGenerarDocumento {
			background-image: url(../gif/generate_document.png) !important;
			height: 16px;
			width: 16px;
		}
		.icoGenerarCedula {
			background-image: url(../gif/configurar.png) !important;
			height: 16px;
			width: 16px;
		}

		.icoWarning {
			background-image: url(../gif/warning.png) !important;
			height: 16px;
			width: 16px;
		}
		.icoError {
			background-image: url(../gif/error.png) !important;
			height: 16px;
			width: 16px;
		}
		.icoVistaPrevia {
			background-image: url(../gif/application_form.png) !important;
			height: 16px;
			width: 16px;
		}

		.greenrow td { 
			color:green; 
			background-color: #E0E0E0 !important;
		}
		.redrow td { 
			color:red; 
			background-color: white !important;
		}
		.icoFirmaDigital {
			background-image: url(../gif/page_key.png);
			height: 16px;
			width: 16px;
		}
		.icoCheck {
			background-image: url(../gif/chk_h.gif) !important; 
			height: 16px;
			width: 16px;
		}
		.icoRadio {
			background-image: url(../gif/radio.gif) !important; 
			height: 16px;
			width: 16px;
		}
		.icoContinuarAplicacion {
			background-image: url(../gif/application_go.png) !important;
			height: 16px;
			width: 16px;
		}
		/* Nota: no agregar las propiedades height: 16px; width: 16px; al estilo siguiente: */
		.icoBotonPDF {
			background-image: url(../gif/page_white_acrobat.png) !important;
		}
		/* Nota: no agregar las propiedades height: 16px; width: 16px; al estilo siguiente: */
		.icoBotonXLS {
				background-image: url(../gif/page_white_excel.png) !important;
		}
		/* Nota: no agregar las propiedades height: 16px; width: 16px; al estilo siguiente: */
			.icoBotonEditarCorreo {
				background-image: url(../gif/email_edit.png) !important;
		}
		/* Nota: no agregar las propiedades height: 16px; width: 16px; al estilo siguiente: */
		.icoBotonEnviarCorreo {
				background-image: url(../gif/email_go.png) !important;
		}
		/* Nota: no agregar las propiedades height: 16px; width: 16px; al estilo siguiente: */
		.icoBotonReporte {
				background-image: url(../gif/application_view_detail.png) !important;
		}
    	/* Nota: no agregar las propiedades height: 16px; width: 16px; al estilo siguiente: */
    	.icoEjecutar {
			background-image: url(../gif/cog_go.png) !important;
    	}
    	/* Nota: no agregar las propiedades height: 16px; width: 16px; al estilo siguiente: */
    	.icoExportar {
			background-image: url(../gif/table_go.png) !important;
    	}
    	/* Nota: no agregar las propiedades height: 16px; width: 16px; al estilo siguiente: */
    	.icoTexto {
			background-image: url(../gif/page_white_text.png) !important;
    	}
    	/* Nota: no agregar las propiedades height: 16px; width: 16px; al estilo siguiente: */
    	.icoGenerarArchivo {
			background-image: url(../gif/page_white_gear.png) !important;
    	}
    	/* Nota: no agregar las propiedades height: 16px; width: 16px; al estilo siguiente: */
    	.icoReprocesar {
			background-image: url(../gif/cog.png) !important;
    	}
		.mas {
			background-image: url(../gif/mas.png);
			height: 15px;
			width: 22px;
		}
		
		.icoReloj {
			background-image: url(../gif/reloj2.png) !important;
			height: 16px;
			width: 16px;
		}
		
		.x-mask-noloading .x-mask-msg-text {
			padding: 5px 5px 5px 5px;
			background-image: none;
		}
		.icoUserGary {
			background-image: url(../gif/user_gray.png);
			height: 16px;
			width: 16px;
		}

		.icoWhiteCode {
			background-image: url(../gif/page_white_code.png);
			height: 16px;
			width: 16px;
		}
		
		.icoGuardarCEDI {
			background-image: url(../gif/page_save.png);
			height: 16px;
			width: 16px;
		}
		.icoRegresarCEDI {
			background-image: url(../gif/actualizar.png);
			height: 16px;
			width: 16px;
		}

		.multiline .x-column-header-inner .x-column-header-text { 
			white-space: normal; 
		}
		.icotag_blue_add {
			background-image: url(../gif/tag_blue_add.png);
			height: 16px;
			width: 16px;
		}
		.icoGuardarCEDI {
			background-image: url(../gif/page_save.png);
			height: 16px;
			width: 16px;
		}
		.x-panel.panel-sin-borde {
			border: 0px;
		}
                .icoFolderTable {
                    background-image: url(../gif/folder_table.png);
                    height: 16px;
                    width: 16px;
                }

                .icoArrowUndoRed {
                    background-image: url(../gif/arrow_undo_red.png);
                    height: 16px;
                    width: 16px;
                }
                .icoReportUser {
                    background-image: url(../gif/report_user.png);
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }
                .page_go {
                    background-image: url(../gif/page_go.png);
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }
                .page_add {
                    background-image: url(../gif/page_add.png);
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }
                .building_add {
                    background-image: url(../gif/building_add.png);
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }                    
                .page_paintbrush {
                    background-image: url(../gif/page_paintbrush.png);
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;                    
                }
                .signed{
			background-image: url(../gif/autorizar.png);
			height: 16px;
			width: 16px;
                        background-repeat: no-repeat;                
                        font-size: 14px;
                    }
                .bricks{
			background-image: url(../gif/bricks.png);
                        background-repeat: no-repeat; 
			height: 16px;
			width: 16px;
                    }                    
