/*body { background-color: #FFFFFF; font-family: arial, helvetica, sanserif; color: #000000; font-size: 11px; link-color: #01148B }*/

.celda01 {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color:  #000000; text-decoration: none; background-color: #E3E5E6; padding-right: 5px; padding-left: 5px }

.celda02 {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color:  #000000; text-decoration: none; padding-right: 5px; padding-left: 5px; background-color: #ABBEBE }

.celda01rep {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color:  #000000; text-decoration: none; background-color: #E3E5E6; padding-right: 2px; padding-left: 2px }

.celda02rep {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color:  #000000; text-decoration: none; padding-right: 2px; padding-left: 2px; background-color: #FFFFFF }

.formas {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; padding-right: 5px; padding-left: 5px }

.bullet {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF;  background-color: #00677a }

a {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color:  #000000; text-decoration: none }

.seleccionado {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color:  #00677A; text-decoration: none; padding-right: 5px; padding-left: 5px; background-color: #ABBEBE }

a:hover {  color: #00677A }

.textos {  line-height: 110%; cursor: default; font-family: arial, helvetica, sanserif; color: #000000; font-size: 12px;  font-weight: normal; text-decoration: none; clip:   rect(   )}

.textos1 {  line-height: 110%; cursor: default; font-family: arial, helvetica, sanserif; color: #000000; font-size: 9px;  font-weight: normal; text-decoration: none; clip:   rect(   )}

.titulos {  color: #034663; font-size: 13px; font-weight: bold; font-family: arial, helvetica, sanserif; font-style: normal; line-height: 110% }

.subtitulos {  color: #034663; font-size: 11px; font-weight: bold; font-family: arial, helvetica, sanserif; font-style: italic; line-height: 110% }
